﻿@model List<Personel_Sinavlar>
@{
    int KalanDakika = 0;
    int KalanSaat = 0;
    int index = 0;
    bool sinavKontrol = (bool)ViewBag.SinavKontrol;
}
@using Haveak_Pro.Models;

@if (Model.Count != 0)
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Sıra</th>
                <th>Sınav No</th>
                <th>Sınav Tarihi</th>
                <th>Başlama Saati</th>
                <th>Bitiş Saati</th>
                <th>Soru Adet</th>
                <th>Açıklama</th>
                <th>Toplam Süre</th>
                <th>İşlem</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OrderByDescending(t => t.ID))
            {
                //string aktif = "success";
                DateTime bugun = DateTime.Today;
                index++;
                <tr>
                    <td>@index</td>
                    <td>@item.Sinavlar.SinavNo</td>
                    <td>@(item.SinavTarihi != null ? item.SinavTarihi.Value.ToLongDateString() : "-")</td>
                    @if (item.BaslamaSaati == null)
                    {
                        <td>-</td>
                        <td>-</td>
                    }
                    else
                    {
                        <td>
                            @item.BaslamaSaati.Value.Hours:@{
                        string ddakika = "";
                        int dakika = item.BaslamaSaati.Value.Minutes;
                        if (dakika <= 9)
                        {
                            ddakika = "0" + item.BaslamaSaati.Value.Minutes;
                        }
                        else
                        {
                            ddakika = item.BaslamaSaati.Value.Minutes.ToString();
                        }
                            }
                            @ddakika
                        </td>
                        <td>
                            @item.BitisSaati.Value.Hours:
                            @{
                        string bdakika = "";
                        int dakikab = item.BitisSaati.Value.Minutes;
                        if (dakikab <= 9)
                        {
                            bdakika = "0" + item.BitisSaati.Value.Minutes;
                        }
                        else
                        {
                            bdakika = item.BitisSaati.Value.Minutes.ToString();
                        }
                            }@bdakika
                        </td>
                    }

                    <td>@item.Sinavlar.SoruSayisi</td>
                    <td>@item.Sinavlar.Aciklama</td>
                    <td>@item.SinavSuresi Dakika</td>
                    <td>
                        @{
                    if (item.BaslamaSaati != null)
                    {
                        DateTime sinavTarihi = item.SinavTarihi.Value;
                        TimeSpan baslamaSaati = item.BaslamaSaati.Value;
                        TimeSpan bitisSaati = item.BitisSaati.Value;
                        TimeSpan mevcutZaman = TimeSpan.Parse(DateTime.Now.ToShortTimeString());

                        string uyari = "";
                        string sinavButonUyari = "";
                        if (item.SinavTarihi == bugun || item.SinavTarihi == bugun.AddDays(-1))
                        {
                            if (mevcutZaman >= baslamaSaati && mevcutZaman < bitisSaati && item.Bitti == 0)
                            {
                                TimeSpan kalanZaman = bitisSaati - mevcutZaman;

                                if ((kalanZaman.Hours < 1 && kalanZaman.Minutes <= 15) && item.Basladi == 0)
                                {
                                    uyari = "Sınava başlama süreniz 15 dakikanı altında kalmıştır giremezsiniz!!!";
                            <label>@uyari</label>
                                }
                                else
                                {
                                    string lamba = "";
                                    if (item.Basladi == 1)
                                    {
                                        KalanDakika = kalanZaman.Minutes;
                                        KalanSaat = kalanZaman.Hours;
                                        lamba = "success";
                                        if (KalanSaat == 0)
                                        {
                                            sinavButonUyari = "Devam Et (Kalan Süre: " + KalanDakika + " Dakika)" + ")";
                                        }
                                        else
                                        {
                                            sinavButonUyari = "Devam Et (Kalan Süre: " + KalanSaat + " Saat " + KalanDakika + " Dakika)" + ")";
                                        }
                                    }
                                    else
                                    {
                                        KalanSaat = kalanZaman.Hours;
                                        KalanDakika = kalanZaman.Minutes;
                                        lamba = "danger";
                                        if (KalanSaat == 0)
                                        {
                                            sinavButonUyari = "Sınava Başla (Kalan Süre: " + KalanDakika + " Dakika)";

                                        }
                                        else
                                        {
                                            sinavButonUyari = "Sınava Başla (Kalan Süre: " + KalanSaat + " Saat " + KalanDakika + " Dakika)";
                                        }

                                    }
                            <input type="button" class="btn btn-@lamba btn-rounded" value="@sinavButonUyari" onclick="SinavaBasla('@item.ID');" />
                                }
                            }
                            else if (mevcutZaman < baslamaSaati && item.Bitti == 0)
                            {
                                TimeSpan zaman = baslamaSaati - mevcutZaman;
                                int saatx = zaman.Hours;
                                int dakikax = zaman.Minutes;
                                if (saatx > 0)
                                {
                                    uyari = "Sınava " + saatx + " Saat " + dakikax + " Dakika Kaldı!";
                            <label>@uyari</label>
                                }
                                else
                                {
                                    uyari = "Sınava " + dakikax + " Dakika Kaldı!";
                            <label>@uyari</label>
                                }
                            }
                            else if (mevcutZaman > baslamaSaati)
                            {
                                string durum = "";
                                string statu = "";
                                if (item.GirisSaati == null)
                                {
                                    durum = "Katılmadınız!";
                                    statu = "important";
                                }
                                else
                                {
                                    durum = "Katıldınız";
                                    statu = "success";
                                }
                            <label>Sınav Süresi Bitti Durum: <span class="label label-@statu">@durum</span></label>
                            }
                        }

                        if (item.SinavTarihi != bugun)
                        {
                            if (item.SinavTarihi != bugun.AddDays(-1))
                            {
                                string durumunuz = item.Basladi == 0 ? "Katılmadınız!!!" : "Katıldınız";
                                uyari = "Sınav Bitti " + durumunuz;
                            <label>@uyari</label>   
                            }

                        }


@* if (sinavTarihi > bugun.AddDays(2))
                            {
                                int gunKalan = sinavTarihi.Day - bugun.Day;
                                int saat2 = baslamaSaati.Hours - mevcutZaman.Hours;

                                uyari = "Sınava " + gunKalan + " Gün, " + saat2 + " Saat Kaldı!";

                                <label>@uyari</label>

                            }*@
                    }
                    else
                    {
                        if (sinavKontrol && (item.SinavTarihi == bugun || item.SinavTarihi == bugun.AddDays(-1)))
                        {
                            <input type="button" class="btn btn-success btn-rounded" value="Sınava Başla (Sınav Süresi:@item.SinavSuresi  Dakika)" onclick="SinavaBasla('@item.ID');" />
                        }
                        else
                        {
                            if (((item.SinavTarihi == bugun || item.SinavTarihi == bugun.AddDays(-1)) || item.SinavTarihi == null) && item.Durum == "AÇIKLANMADI")
                            {
                            <label>Henüz konuları incelemeniz tamamlanmamış!</label>
                            }
                            else
                            {
                            <label>Sinava Girmediniz!</label>
                            }
                        }
                    }
                        }
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2">
                    <div class="date">
                        <span class="label label-primary">Toplam Atanan Sınav : @Model.Count Adet</span>
                    </div>
                </td>
            </tr>

        </tfoot>
    </table>
}
else
{
    <div class="alert alert-danger" role="alert">
        Herhangi bir sınav işleminiz yoktur!
    </div>
}

<script>
    //function GoTop(el, offeset) {
    //    pos = el ? el.offset().top : 0;
    //    jQuery('html,body').animate({
    //        scrollTop: pos + (offeset ? offeset : 0)
    //    }, 'slow');
    //}

    $(document).ready(function () {

        // basic chart
        //var flash = [[0, 2], [1, 6], [2, 3], [3, 8], [4, 5], [5, 13], [6, 8]];
        //var html5 = [[0, 5], [1, 4], [2, 4], [3, 1], [4, 9], [5, 10], [6, 13]];

        //function showTooltip(x, y, contents) {
        //    $('<div id="tooltip" class="tooltipflot">' + contents + '</div>').css({
        //        position: 'absolute',
        //        display: 'none',
        //        top: y + 5,
        //        left: x + 5
        //    }).appendTo("body").fadeIn(100);
        //}

        //// bar graph
        //var d2 = [];
        //for (var i = 0; i <= 10; i += 1)
        //    d2.push([i, parseInt(Math.random() * 30)]);

        //var stack = 0, bars = true, lines = false, steps = false;

        //$('#calendar').datepicker();


    });


    //var yenidialogcnt = 0;
    //function yenidialogAc(Title, Url, w, h, fncOnClose) {
    //
    //    yenidialogcnt = yenidialogcnt + 10;
    //    var refW = jQuery(window).width();
    //    if (refW == 0) refW = jQuery(document).width();
    //    var refH = jQuery(window).height();
    //    if (refH == 0) refH = jQuery(document).height();
    //    if (w == null || w == 0) {
    //        w = refW - 100;
    //    }
    //    if (h == null || h == 0)
    //        h = refH - 20;

    //    if (w <= 0) w = 780;
    //    if (h <= 0) h = 390;

    //    if (yenidialogcnt == 50) yenidialogcnt = 0;
    //    var l = (refW - w) / 2 + yenidialogcnt;
    //    var t = (refH - h) / 2 + yenidialogcnt;

    //    var nowx = new Date();
    //    var id = Number(nowx);
    //    var newdialog = '<div id="dialog' + id + '" title="Başlık" style="display:none;overflow:hidden;">' +
    //                       ' <iframe id="dialogFrame' + id + '" frameborder="0" style="width:100%;height:100%;margin:0px;" src="#">' +
    //                       ' </iframe>' +
    //                       '</div>';
    //    jQuery(newdialog).appendTo("body");
    //    var f = document.getElementById('dialogFrame' + id);
    //    f.src = "../loading.html";
    //    f.src = Url;
    //    jQuery('#dialog' + id).dialog(
    //    {
    //        title: Title, width: w, height: h, position: [l, t],
    //        close: function () {
    //            if (fncOnClose != null && fncOnClose != undefined) {
    //                setTimeout(fncOnClose, 100);
    //            }
    //        }
    //    });
    //}
    //function dialogKapat() {
    //    jQuery('#dialog').dialog('Close');
    //}


    function SinavaBasla(id) {
        @* yenidialogAc('Sözleşme İçerikleri','@Url.Content("~/ReportFiles/ReportViewer.aspx")?Id=@itemAll.ID',900)"*@
        //yenidialogAc('ÇIKIŞ = ','/Sinavlar/Home/SinavaBasla/'+id,1300,610,null);
        window.location.href = '/SINAV/Home/SinavaBasla/' + id;
    }
</script>
