﻿@model Sinav_Sorular
@{
    Heas_UzakEntities Entity = new Heas_UzakEntities();
    //int personel = AktifKullanici.Aktif.User_Ref;   
    string check = "";
    //string altCheck = "";
    int personel = AktifKullanici.Aktif.User_Ref;
    int per_sinav = (int)ViewBag.Personel_Sinav_Ref;
    string soruTipi = Model.SinavTipi.Baslik;
    ViewBag.SoruTipi = soruTipi;
    int sorunumara = (int)ViewBag.Soruno;
    int sonsinifOgrenciRef = (int)ViewBag.SonsinifOgrenciRef;
}

@using Haveak_Pro.Models;


<div class="row">
    <div class="col-md-12">

        <div class="col-md-9">
            <div class="panel panel-success">

                <div class="panel-body">
                    - @Model.SinavTipi.Baslik, Soru : <span class="badge badge-inverse"><b>@sorunumara</b></span><br />
                    -
                    <label style="font-weight: bold; font-size: 14px">@Model.UniteSorular.Soru</label><br />

                    <table style="width: 100%; font-weight: bold; font-size: 14px" class="table table-bordered " id="soruSikkiAlt">
                        @foreach (var itemx in Model.UniteSorular.SoruSiklaris.Where(r => r.IsActive == true))
                        {
                            int countAlt = Model.UniteSorular.AltSiklars.Count();
                            <tr>
                                <td style="width: 4%">
                                    @if (itemx.SoruSikki != "a)" && countAlt > 0)
                                    {
                                        if (itemx.ID == Model.SinavCevaplars.Where(m => m.Personel_Sinavlar_Ref == per_sinav).Select(t => t.GirilenCevap).FirstOrDefault())
                                        {
                                            check = "checked = checked";
                                        }
                                        else
                                        {
                                            check = "";
                                        }
                                        <input id="cvp_@itemx.ID" type="checkbox" @check style="cursor:pointer; width:25px" />
                                        <input type="hidden" id="SoruSik_@itemx.ID" value="@itemx.SoruSikki" />
                                    }
                                    else
                                    {
                                        if (itemx.ID == Model.SinavCevaplars.Where(m => m.Personel_Sinavlar_Ref== per_sinav).Select(t => t.GirilenCevap).FirstOrDefault())
                                        {
                                            check = "checked = checked";
                                        }
                                        else
                                        {
                                            check = "";
                                        }
                                        <input id="cvp_@itemx.ID" type="checkbox" @check onclick="CheckboxControlAlt('@itemx.ID')" class="icheckbox" style="cursor:pointer; width:25px" />
                                        <input type="hidden" id="SoruSik_@itemx.ID" value="@itemx.SoruSikki" />
                                    }
                                </td>
                                <td>
                                    @itemx.SoruSikki @itemx.CevapIcerik
                                    <input type="hidden" id="Sik_@itemx.ID" value="@itemx.ID" />
                                </td>
                            </tr>
                        }
                    </table>
                    @*  <table class="table table-bordered" id="alsiktablo">
                            <tbody>
                                @{
                                    int cvp = Entity.SinavCevaplars.Where(t => t.Sınav_Sorular_Ref == Model.ID && t.Personel_Sinavlar_Ref == per_sinav).Count();
                                    if (cvp > 0)
                                    {
                                        foreach (var item in Model.UniteSorular.AltSiklars.Where(t => t.IsActive == true).Select((x, i) => new { Index = i, Data = x }))
                                        {
                                    <tr>
                                        @if (item.Data.ID == Model.SinavCevaplars.Where(m => m.AltCevap == item.Data.ID && m.Personel_Sinavlar_Ref == per_sinav).Select(t => t.AltCevap).FirstOrDefault())
                                        {
                                            altCheck = "checked = checked";
                                        }
                                        else
                                        {
                                            altCheck = "";
                                        }
                                        <td style="width: 4%">
                                            <input id="altcvp_@(item.Data.ID)" type="checkbox" @altCheck onclick="CheckboxControlAlt2('@item.Data.ID')"></td>
                                        <td>@item.Data.AltSoruSikki  @item.Data.AltCevapIcerik
                                            <input type="Hidden" id="AltSik_@item.Data.ID" value="@item.Data.ID" />
                                            <input type="Hidden" id="AltSoruSik_@(item.Data.ID)" value="@(item.Data.AltSoruSikki)" /></td>
                                    </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>*@

                </div>
                <div class="panel-footer">
                    <input type="button" value="Sorular" class="btn btn-danger" onclick="GeriDon();" />
                    @{
                        var soruDurum = Entity.SinavCevaplars.Where(t => t.Sınav_Sorular_Ref == Model.ID && t.Personel_Sinavlar_Ref == per_sinav).Select(r => r.ID).Count() == 0 ? "Onayla" : "Güncelle";
                    }
                    <input type="button" class="btn btn-primary pull-right" onclick="CevapKaydet('@Model.ID');" value="@soruDurum" />
                </div>
            </div>

        </div>
    </div>

    <!-- BEGIN SAMPLE TABLE PORTLET-->
</div>


<script>
    $(function () {

        $('#seciliSoruIcerik').css('display', 'block');
        $('#teorikSorular').attr('style', 'display:block');

    });

    function GeriDon() {
        $('#SoruSiklar').css('display', 'block');
        $('#SoruIcerik').css('visibility', 'hidden');
        //$('#KameraKontrol').css('display', 'none');
        $('#seciliSoruIcerik').css('display', 'none');
    }


    function CheckboxControlAlt(id) {
        $('#alsiktablo tbody tr').remove();
        var selectCheck = $('#cvp_' + id).is(':checked') ? "checked" : "";
        $('#soruSikkiAlt').find('tr').each(function (ix, trx) {
            $(trx).find("td").eq(0).find("input").removeAttr('checked');
        });
        $('#cvp_' + id).prop('checked', true);
    }  

    

</script>



