﻿@model List<Sinav_Sorular>
@{
    ViewBag.Title = "SinavaBasla";
    Layout = "~/Views/Shared/_LMenu.cshtml";

    var personel = AktifKullanici.Aktif;
    Heas_UzakEntities Entity = new Heas_UzakEntities();


    TimeSpan bitisSaati;
    TimeSpan baslamaSaati;
    int basladi = 0;
    int bitti = 0;

    int Personel_SinavRef = (int)ViewBag.PerSinavID;

    var zamanlar = Entity.Personel_Sinavlar.Where(t => t.ID == Personel_SinavRef).FirstOrDefault();
    bitisSaati = zamanlar.BitisSaati.Value;
    baslamaSaati = zamanlar.BaslamaSaati.Value;
    if (zamanlar.Basladi == 1)
    {
        basladi = zamanlar.Basladi;
        bitti = zamanlar.Bitti;
    }
    string soruKontrol = basladi == 1 ? "block" : "none";
    int sinavlar_Ref = Model.Select(t => t.Sinavlar_Ref).FirstOrDefault();
    int per_sinav = Entity.Personel_Sinavlar.Where(r => r.Sinif_Ogrenci.Personel_Ref == personel.User_Ref && r.Sinavlar_Ref == sinavlar_Ref).Select(t => t.ID).FirstOrDefault();
    string sinavNo = zamanlar.Sinif_Ogrenci.Sinif.SinifAdi + "-" + Model.Select(e => e.Sinavlar.SinavNo).FirstOrDefault();
    int sonsinifRef = zamanlar.Sinif_Ogrenci_Ref;
}
@using Haveak_Pro.Models;

<div class="content-frame">
    <div class="row">
        <div class="col-md-12" style="margin-top:20px">
            <div id="SoruSiklar" class="col-md-6" style="text-align: center; display: block">
                <div id="sinavbaslasoru" style="display:@soruKontrol; margin-top: 20px;">

                    <h4 style="font-weight: bold">SORULAR (TEORİK)</h4>

                    @{
                        int indeks2 = 0;
                        foreach (var itemc in Model.Select((r, x) => new { Index = x, Data = r }))
                        {
                            indeks2++;
                            var soruDurum = Entity.SinavCevaplars.Where(t => t.Sınav_Sorular_Ref == itemc.Data.ID && t.Personel_Sinavlar.Sinif_Ogrenci_Ref == sonsinifRef).Select(r => r.ID).Count() == 0 ? "btn btn-default" : "btn btn-danger";
                            <a onclick="GetSinavSoruDetay(@itemc.Data.Sinavlar_Ref, @itemc.Data.ID, 2, @(itemc.Index + 1))" class="@soruDurum">@(itemc.Index + 1)</a>
                            if (indeks2 == 14)
                            {
                                <br />
                                <br />
                                indeks2 = 0;
                            }
                        }
                    }

                </div>
            </div>

            @if (basladi != 1)
            {
                <div class="panel panel-default" id="ilkgiris">
                    <div class="panel-heading ui-draggable-handle">
                        <h3 class="panel-title">DİKKAT!!!</h3>

                    </div>
                    <div class="panel-body">
                        Sol Tarafta "Mavi" İçerikli Kutucuklar Cevaplanmayı bekleyen Sorular, "Kırmızı" içerikli kutucuklar Cevaplanan Kutucuklardır. <br />
                        <span class="badge badge-danger">DİKKAT: Aşağıda WEB Cam da eğer aktif görüntünüzü göremiyorsanız, lütfen başka bilgisayarda sınava giriniz! Aksi taktirde mesuliyet kullanıcıya aittir, Sınav başarısız sayılacaktır!  </span>
                    </div>
                    <div class="panel-footer">
                        <input type="button" class="btn btn-success pull-right" id="SinavaBaslaxx" value="Sınava Başla" />
                    </div>
                </div>
            }
            else
            {
                <div class="col-md-6" id="seciliSoruIcerik" style="height: 430px; display:none">
                </div>
                <div style="clear:both"></div>
            }


            <div id="SoruIcerik" class="col-md-2" style="text-align: center; visibility: hidden">

                <div class="panel-body scroll" @*style="height: 600px;"*@>
                    <div class="col-md-7">

                        <div id="pulsate-regular" style="font-size: large; font-weight: bold; color: red"></div>

                        <div id="teorikSorular">
                            <h4 style="font-weight: bold">SORULAR</h4>
                            <table id="TeorikTablo" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Soru</th>
                                        <th>Cevap</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.OrderBy(t => t.ID).Where(t => t.SinavTipi_Ref == 2).Select((i, x) => new { Index = x, Data = i }))
                                    {
                                        <tr>
                                            <td><span class="label label-primary" style="font-size: 12px">@(item.Index + 1)</span></td>
                                            <td id="Cevap_@item.Data.ID">
                                                @{
                                                    string cevapSikki = "";
                                                    var cevapID = item.Data.SinavCevaplars.Where(r => r.Sınav_Sorular_Ref == item.Data.ID && r.Personel_Sinavlar_Ref == per_sinav).Select(t => new { t.GirilenCevap, t.Sınav_Sorular_Ref }).FirstOrDefault();
                                                    if (cevapID != null)
                                                    {
                                                        cevapSikki = Entity.SoruSiklaris.OrderBy(t => t.ID).Where(t => t.ID == cevapID.GirilenCevap).Select(e => e.SoruSikki).FirstOrDefault();
                                                    }
                                                    string kontrol2 = cevapID == null ? "danger" : "primary";
                                                }

                                                <span class="label label-@kontrol2" style="font-size:12px">@cevapSikki</span>
                                            </td>

                                        </tr>
                                                    }

                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
            <div style="clear:both"></div>
            @*@if (basladi == 1)
                {*@
            @*<div id="KameraKontrol" class="col-md-4">
                    <ul class="x-navigation">
                        <li class="xn-profile">
                            <div class="profile">
                                <div class="profile-image">

                                    <video id="video" width="320" height="240" autoplay></video>
                                    <canvas id="canvas" width="320" height="240" style="display: none"></canvas>
                                </div>
                                <div class="profile-data">
                                    <div id="div" style="color: white"></div>
                                    <div class="profile-data-name">Sn. @personel.EName @personel.ESurName</div>
                                    <div class="profile-data-title">Canlı Sınav Kontrol</div>
                                </div>
                            </div>
                        </li>
                        @if (basladi == 1)
                        {
                            <li style="text-align:center">
                                <button type="button" id="sinavbitir" class="btn btn-danger btn-large mb-control" style="width: 300px; height:40px; font-size:22px; font-weight:bold" data-box="#message-box-sound-2">SINAVI BİTİR</button>
                            </li>
                        }
                    </ul>

                </div>*@

            @*}*@
            @if (basladi == 1)
            {
                
                    <button type="button" id="sinavbitir" class="btn btn-danger btn-large mb-control" style="width: 300px; height:40px; font-size:22px; font-weight:bold" data-box="#message-box-sound-2">SINAVI BİTİR</button>
                
            }
        </div>
    </div>
    @*<div class="row">
            @if (basladi == 1)
            {
                <ul class="breadcrumb" style="text-align: center;">
                    <li>
                        <button type="button" id="sinavbitir" class="btn btn-danger btn-large mb-control" style="width: 300px" data-box="#message-box-sound-2">SINAVI BİTİR</button>
                    </li>
                </ul>
            }
        </div>*@
</div>


<button type="button" id="uyari" class="btn btn-warning mb-control" data-box="#message-box-warning" style="visibility: hidden"></button>
<button type="button" id="kamerayok" class="btn btn-danger mb-control" data-box="#message-box-danger" style="visibility: hidden"></button>


<div class="message-box message-box-warning animated fadeIn" id="message-box-warning">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-warning"></span>Dikkat</div>
            <div class="mb-content">
                <p>Lütfen Cevap Şıkkı Seçiniz!!!</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close">Kapat</button>
            </div>
        </div>
    </div>
</div>
<div class="message-box message-box-danger animated fadeIn" data-sound="fail" id="message-box-danger">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-times"></span>Dikkat!</div>
            <div class="mb-content">
                <p>Sisteminizde kamera bulunmamaktadır. Lütfen WEB CAM bulunan bilgisayarda sınav yapınız!</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close" onclick="kapat();">Kapat</button>
            </div>
        </div>
    </div>
</div>
<div class="message-box message-box-danger animated fadeIn" data-sound="fail" id="message-box-sound-2">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-times"></span>Dikkat!</div>
            <div class="mb-content">
                <p>Sınavı Bitirmek İstediğinizden Eminmisiniz? Not:Tekrar giriş Yapamazsınız!</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-success btn-lg pull-right mb-control-close" onclick="SinavBitirManuel();">Evet Bitir</button>
                <button class="btn btn-default btn-lg pull-right mb-control-close">Sınava Devam</button>
            </div>
        </div>
    </div>
</div>

@*<script type="text/javascript" src="~/js/plugins/jquery/jquery.min.js"></script>*@
@section scripts{
    <script type="text/javascript">

    $(function (e) {
        //$('#KameraKontrol').css('display', 'block');
        var surec = setInterval(function () {

            var a = "@bitisSaati.ToString()";
            var b = displayTime();
            var difference = Math.abs(toSeconds(a) - toSeconds(b));
            if (Math.abs(toSeconds(a) >= toSeconds(b))) {
                var result = [
                    Math.floor(difference / 3600),
                    Math.floor((difference % 3600) / 60),
                    difference % 60
                ];
                result = result.map(function (v) {
                    return v < 10 ? '0' + v : v;
                }).join(':');
                $('#pulsate-regular').html(result);
                if (result == "00:00:00") {
                    clearInterval(surec);
                    SinavBitirManuel();
                }
            }
            else {
                clearInterval(surec);
                //clearInterval(surecKontol);
                window.location.href = '/SINAV/Home/Index';
            }
        }, 1000);



        //var context = "";
        //var video = document.getElementById("video");

        //if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
        //    debugger
        //    navigator.mediaDevices.getUserMedia({
        //        video: { width: 1280, height: 720 },
        //        audio: false
        //    }).then(function (stream) {
        //        //video.src = URL.createObjectURL(stream);
        //        video.srcObject = stream;
        //        video.play();
        //    },
        //    function (error) {
        //        $('#kamerayok').click();
        //    });

            @*var ax = "@bitisSaati.ToString()";
            var bx = "@baslamaSaati.ToString()";
            var fark = Math.abs(toSeconds(ax) - toSeconds(bx));
            var aralik = (fark / 40) * 1000;
            setInterval(function () {
                context.drawImage(video, 0, 0, 320, 240);
                UploadPic('@sinavNo', '@per_sinav');
            }, aralik);*@



    });

        function GetCaptureControl()
        {
            
           var video = document.getElementById("video");
           var canvas = document.getElementById("canvas");
           var context = canvas.getContext("2d");
           
           context.drawImage(video, 0, 0, 320, 240);
           UploadPic('@sinavNo', '@per_sinav');
        }

       function CevapKaydet(soru_id) { 
             var Personel_SinavRef = '@per_sinav';
             var Sinav_SoruRef = soru_id;
             var Girilen_Cevap = "";
             var cevapSikki = "";

             $('#soruSikkiAlt').find('tr').each(function (ix, trx) {
                 soruSikki = $(trx).find("td").eq(0).find("input").is(":checked");
                 if (soruSikki) {
                     Girilen_Cevap = $(trx).find("td").eq(1).find("input[type=hidden]").val();
                     cevapSikki = $(trx).find("td").eq(0).find("input[type=hidden]").val();
                 }
             });
             if (cevapSikki == "") {
                 $('#uyari').click();
                 return;
              }

        var soruS = $('#SoruSik_' + Girilen_Cevap).val();

        $.ajax({
            url: "/SINAV/Home/SinavCevap",
            data: { 'Personel_SinavRef': Personel_SinavRef, 'SinavSoruRef': Sinav_SoruRef, 'Cevap': Girilen_Cevap },
            async: false,
            success: function (data) {
                if (data) {
                    GetCaptureControl();
                    $('#Cevap_' + Sinav_SoruRef).html("<span class='label label-success' style='font-size:12px'> " + soruS + "</span>");
                    location.reload();
                    //window.location.href = '/SINAV/Home/SinavaBasla/' + Personel_SinavRef;

                }
            },
            error: function (hata) {
                alert(hata.responseText);
            }
        });
    }

    function UploadPic(sinav, per_sinav) {

        var Pic = document.getElementById("canvas").toDataURL("image/jpg");
        Pic = Pic.replace(/^data:image\/(png|jpg);base64,/, "");
        $.ajax({
            url: '@Url.Action("Capture", "SinavKontrol", new { area = "SINAV" })',
            async: false,
            type: 'POST',
            data: JSON.stringify({ "imagePath": Pic, "sinavno": sinav, "per_sinav": per_sinav }),
            dataType: 'json',
            contentType: 'application/json',
            success: function (msg) {
            }
        });
    }

    function GetSinavSoruDetay(Sinav_Ref, id, durum, soruno)
    {
        $('#SoruSiklar').css('display', 'none');
        $('#SoruIcerik').css('visibility', 'visible');
        $("#seciliSoruIcerik").css('display', 'block');
        $.ajax({
            url: '@Url.Action("_SSoruDetay", "Home")',
            data: { 'Sinav_Ref': Sinav_Ref, 'idx': id, 'SoruNo': soruno, 'Personel_Sinav_Ref': '@Personel_SinavRef' },
            success: function (data) {
                $("#seciliSoruIcerik").html(data);
            }
        });
    }

        $('#SinavaBaslaxx').on('click', function (e) {
            var yukleniyor = '<div class="progress">' +
                '<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">Yükleniyor..</div>' +
                '</div>';
            e.preventDefault();
            $.ajax({
                url: "/SINAV/Home/SinavStart",
                data: { 'id': '@Personel_SinavRef' },
                success: function () {
                    //$('#alertbox').css('display', 'none');
                    $('#sinavbaslasoru').css('display', 'block');
                    $('#sinavbaslasoru').html(yukleniyor);
                    $('#ilkgiris').css('display', 'none');

                    location.reload();
                    //window.location.href = '@Url.Action("SinavaBasla", "Home", new { area = "SINAV" })';
                },
                error: function (hata) {
                    alert(hata.responseText);
                }
            });
        });


        function SinavBitirManuel() {
            var idx = '@Personel_SinavRef';
            $.ajax({
                url: "/SINAV/Home/SinavSonuclandirma",
                data: { 'id': idx },
                async: false,
                success: function (result) {
                    alert(result);
                    window.location.href = '/SINAV/Home/Index';
                },
                error: function (hata) {
                    alert(hata.responseText);
                }
            });
    }


    function kapat() {
        window.location.href = '/'
    }

    function displayTime() {
        var str = "";

        var currentTime = new Date()
        var hours = currentTime.getHours()
        var minutes = currentTime.getMinutes()
        var seconds = currentTime.getSeconds()

        if (minutes < 10) {
            minutes = "0" + minutes
        }
        if (seconds < 10) {
            seconds = "0" + seconds
        }
        str += hours + ":" + minutes + ":" + seconds + " ";
        return str;
    }

    function toSeconds(time_str) {
        var parts = time_str.split(':');
        return parts[0] * 3600 +
        parts[1] * 60 +
        +
        parts[2];
    }

    </script>
}