﻿@model Sinif_Ogrenci
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LMenu.cshtml";
    EgitimGirisSayfasi icerik = (EgitimGirisSayfasi)ViewBag.Aciklama;
    Heas_UzakEntities entity = new Heas_UzakEntities();
    string yetki = "False";
    if (UserRoleName.PANEL_AdminGiris.InRole() || UserRoleName.ADMIN_Egitim.InRole())
    {
        yetki = "True";
    }
}
@using Haveak_Pro.Models;

<ul class="breadcrumb push-down-0">
    <li><a href="@Url.Action("Index", "Home", new { area = "" })">Ana Sayfa</a></li>
    <li class="active">EĞİTİM</li>
</ul>

<div class="content-frame">


    <div class="content-frame-top">
        <div class="page-title">
            <h2><span class="fa fa-arrow-circle-o-left"></span>EĞİTİM KURSLARI</h2>
        </div>
        <div class="pull-right">
            <button class="btn btn-default content-frame-right-toggle"><span class="fa fa-bars"></span></button>
        </div>
    </div>

    <div class="content-frame-right">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3 class="push-up-0">Kurs Eğitim Bölümleri</h3>
                <div id="bolumIcerik">
                    <div class="alert" role="alert">
                        <strong>Dikkat!</strong> Hesabına atanmış aktif bir Kurs Eğitimi Bulunmamaktadır!!!
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content-frame-body content-frame-body-left">
        <div class="panel panel-default">
            <div class="panel-body">
                @if (Model != null)
                {
                    int modulSayi = 0;
                    foreach (var itemUnitList in Model.AtananBolumlers.Where(r => r.Bolum.IsActive == true && r.Bolum.IsDelete == false))
                    {
                        modulSayi++;
                        <div class="col-md-6">
                            <div class="panel panel-default push-up-20">
                                <div class="panel-heading">
                                    <h3 class="panel-title">@itemUnitList.Bolum.BolumAdi</h3>
                                </div>
                                <div class="panel-body">
                                    <ul class="list-tags">
                                        @foreach (var itemModul in itemUnitList.Bolum.KursModullers.Where(q => q.UniteModul.IsDelete == false && q.UniteModul.IsActive == true).Select((x, y) => new { Index = y, Data = x }))
                                        {
                                            <li>
                                                <a href="#" onclick="BolumBasliklar('@itemModul.Data.UniteModule_Ref');"><span class="fa fa-tag"></span>@itemModul.Data.UniteModul.Modul</a>
                                                <input type="hidden" value="" />
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="col-md-6">
                        <br /><br />
                        <p style="margin-left:100px; font-size:20px; color:red"> Eğitime başlamak için tıklayınız</p><br />
                        <p style="margin-left:100px; font-size:25px; color:red"> ---------------------------></p>
                    </div>
                }
                else
                {
                    <div class="alert alert-danger" role="alert">
                        <strong>Dikkat!</strong> Hesabına atanmış aktif bir Kurs Eğitimi Bulunmamaktadır!!!
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- END CONTENT FRAME BODY -->
</div>
<!-- END CONTENT FRAME -->
<script type="text/javascript" src="~/js/plugins/jquery/jquery.min.js"></script>
<script>
    function dilsec() {
        window.location.href = '';
    }

    $(function () {
        var kontrol = '@Model';
        if (kontrol != '') {
            BolumBasliklar('1');
        }
    })

    function OkunduGonder(idx) {
        var kontrol = '@yetki';
        if (kontrol == "False") {
            var abRef = '@(Model != null ? Model.AtananBolumlers.Select(e => e.ID).FirstOrDefault() : 0)';
            $.ajax({
                url: '/EGITIM/Home/OkunduBilgisi',
                data: { 'atananBolum_Ref': abRef, 'unite_Ref': idx },
                success: function (result) {
                    if (result) {
                        window.location.href = '@Url.Action("Konu", "Icerik", new { area = "EGITIM" })?id=' + idx + '&atananblm=' + '@(Model != null ? Model.AtananBolumlers.Select(e => e.ID).FirstOrDefault() : 0)';
                    }
                }
            });
        }
        else {
            window.location.href = '/EGITIM/Icerik/Konu?id=' + idx;
        }
    }

</script>


