﻿@model PagedList.IPagedList<Kullanici>
@{
    ViewBag.Title = "KullaniciGirisKontrol";
    Layout = "~/Areas/PANEL/Views/Shared/_LPanel.cshtml";
    //var personel = (List<Personel>)ViewBag.Personel;
    var siniflar = (List<Sinif>)ViewBag.Siniflar;
    int index = (int)ViewBag.RecordNo;
    ViewBag.Sayfa = "Kullanıcı Giriş Kontrol";
}
@using Haveak_Pro.Models;
@using PagedList.Mvc;

<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home", new { area = "PANEL" })">Panel Giriş</a></li>
    <li class="active">KULLANICI GİRİŞ KONTROLLERİ</li>
</ul>


<div class="page-content-wrap">

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>PERSONEL LOG KAYIT İŞLEMLERİ </strong>Günlük Kullanıcı giriş çıkış ve diğer işlemler</h3>

                </div>
                <div class="panel-body">
                    <p>Personel kullanıcı kontrol işlerinin yapıldığı yer.</p>
                </div>
                <div class="panel-body">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Kullanıcılar</h3>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Sınıf Adı :</label>
                                    <div class="col-md-2">
                                        <select id="SinifListe" class="form-control select" data-style="btn-success" onchange="SinifGetir();">
                                            <option value="0">Sınıf Seçiniz</option>
                                            @foreach (var item in siniflar)
                                            {
                                                <option value="@item.ID">@item.SinifAdi</option>
                                            }
                                        </select>
                                    </div>
                                    <label class="col-md-2 control-label">Personel Adı :</label>
                                    <div class="col-md-2">
                                        <input id="PersonelAdi" type="text" class="form-control">
                                    </div>
                                    <label class="col-md-2 control-label">Personel Soyadi :</label>
                                    <div class="col-md-2">
                                        <input id="PersonelSoyadi" type="text" class="form-control">
                                    </div>
                                </div>
                                <br />
                                <table class="table" id="Personeller">
                                    <thead>
                                        <tr>
                                            <th>Sıra</th>
                                            <th>Personel Adı</th>
                                            <th>Kullanıcı Adı</th>
                                            <th>Sifre</th>
                                            <th>Başlangıç Tarihi</th>
                                            <th>Bitiş Tarihi</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            index++; 
                                            <tr>
                                                <td>@index</td>
                                                <td>@item.Personel.Adi @item.Personel.Soyadi</td>
                                                <td>@item.KullaniciAdi</td>
                                                <td>@item.Sifre</td>
                                                <td>@item.BaslangicTarihi.ToString("dd-MM-yyyy")</td>
                                                <td>@item.BitisTarihi.Value.ToString("dd-MM-yyyy")</td>
                                                <td>
                                                    <a class="btn btn-default btn-rounded btn-sm" onclick="BilgiGuncelle('@item.ID','@item.Personel_Ref','@item.KullaniciAdi', '@item.Sifre', '@item.BaslangicTarihi.ToString("yyyy-MM-dd")', '@item.BitisTarihi.Value.ToString("yyyy-MM-dd")');"><span class="fa fa-pencil"></span></a>
                                                    <a class="btn btn-danger btn-rounded btn-sm" onclick="Remove('@item.ID');"><span class="fa fa-times"></span></a>
                                                </td>
                                            </tr>                                                
                                        }
                                    </tbody>
                                </table>
                                <ul class="pagination pagination-sm pull-right push-down-20 push-up-20">
                                    <li>@Html.PagedListPager(Model, page => "javascript:getData(" + page + ")")</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <button class="btn btn-default" onclick="Refresh();">Temizle</button>
                   @* <input type="button" id="KaydetBtn" class="btn btn-primary" value="Kaydet" onclick="Ekle();" />*@
                    @*<input type="button" id="GuncelleBtn" class="btn btn-danger" style="visibility: hidden" value="Güncelle" onclick="Guncelle();" />*@
                </div>
            </div>


        </div>
    </div>

</div>

<script>

    var key_count_global;
    function init() {
        key_count_global = 0; // Global variable
        document.getElementById("PersonelAdi").onkeypress = function () {
            key_count_global++;
            setTimeout("PersonelGetir(" + key_count_global + ")", 1000);//Function will be called 1 second after user types anything. Feel free to change this value.
        }
        document.getElementById("PersonelSoyadi").onkeypress = function () {
            key_count_global++;
            setTimeout("PersonelGetir(" + key_count_global + ")", 1000);//Function will be called 1 second after user types anything. Feel free to change this value.
        }
    }
    window.onload = init; //or $(document).ready(init);


    function PersonelGetir(key_count) {

        var prs = $('#PersonelAdi').val();
        var prs2 = $('#PersonelSoyadi').val();

        if (key_count == key_count_global) {
            $('#Personeller tbody tr').remove();
            //var time = setTimeout(function () {
            $.get('@Url.Action("PersonelGetir", "PersonelIslemler", new { area = "PANEL" })', { padi: prs, psoyadi: prs2 }, function (result) {
                $.each(result, function (i, item) {
                    var eklePr = '<tr>' +
                                                        '<td>' + (i + 1) + '</td>' +
                                                        '<td>' + item.Adi + ' ' + item.Soyadi + '</td>' +
                                                        '<td>' + item.Kullaniciadi + '</td>' +
                                                        '<td>' + item.Sifre + '</td>' +
                                                        '<td>' + formatJSONDate(item.BaslangicTarihi, "1") + '</td>' +
                                                        '<td>' + formatJSONDate(item.BitisTarihi, "1") + '</td>' +
                                                        '<td>' +
                                                            '<a class="btn btn-default btn-rounded btn-sm" onclick="BilgiGuncelle(' + "'" + item.ID + "'" + ',' + "'" + item.Personel_Ref + "'" + ',' + "'" + item.Kullaniciadi + "'" + ', ' + "'" + item.Sifre + "'" + ', ' + "'" + formatJSONDate(item.BaslangicTarihi, "2") + "'" + ', ' + "'" + formatJSONDate(item.BitisTarihi, "2") + "'" + ');"><span class="fa fa-pencil"></span></a>' +
                                                            '<a class="btn btn-danger btn-rounded btn-sm" onclick="Remove(' + "'" + item.ID + "'" + ');"><span class="fa fa-times"></span></a>' +
                                                        '</td>' +
                                                    '</tr>';
                    $('#Personeller tbody').append(eklePr);
                });
            });
            //return;
            //}, 1000);
            //clearTimeout(timer);
        }
    }

    function SinifGetir() {
        var sinif = $('#SinifListe').val();
        if (sinif != "0") {
            $('#Personeller tbody tr').remove();
            //var time = setTimeout(function () {
            $.get('@Url.Action("SinifPersonelGetir", "PersonelIslemler", new { area = "PANEL" })', { id: sinif }, function (result) {

                $.each(result, function (i, item) {

                    var eklePr = '<tr>' +
                                                        '<td>' + (i + 1) + '</td>' +
                                                        '<td>' + item.Adi + ' ' + item.Soyadi + '</td>' +
                                                        '<td>' + item.Kullaniciadi + '</td>' +
                                                        '<td>' + item.Sifre + '</td>' +
                                                        '<td>' + formatJSONDate(item.BaslangicTarihi, "1") + '</td>' +
                                                        '<td>' + formatJSONDate(item.BitisTarihi, "1") + '</td>' +
                                                        '<td>' +
                                                            '<a class="btn btn-default btn-rounded btn-sm" onclick="BilgiGuncelle(' + "'" + item.ID + "'" + ',' + "'" + item.Personel_Ref + "'" + ',' + "'" + item.Kullaniciadi + "'" + ', ' + "'" + item.Sifre + "'" + ', ' + "'" + formatJSONDate(item.BaslangicTarihi, "2") + "'" + ', ' + "'" + formatJSONDate(item.BitisTarihi, "2") + "'" + ');"><span class="fa fa-pencil"></span></a>' +
                                                            '<a class="btn btn-danger btn-rounded btn-sm" onclick="Remove(' + "'" + item.ID + "'" + ');"><span class="fa fa-times"></span></a>' +
                                                        '</td>' +
                                                    '</tr>';
                    $('#Personeller tbody').append(eklePr);
                });
            });
        }
    }
    function Refresh() {
        window.location.href = '@Url.Action("KullaniciGirisKontrol", "Raporlama", new { area = "PANEL" })';
    }

    function formatJSONDate(datex, type) {
        var str, year, month, day, d, finalDate;
        str = datex.replace(/\D/g, "");
        d = new Date(parseInt(str));
        year = d.getFullYear();
        month = pad(d.getMonth() + 1);
        day = pad(d.getDate());
        if (type == "1") {
            finalDate = day + "-" + month + "-" + year;
        }
        else {
            finalDate = year + "-" + month + "-" + day;
        }
        return finalDate;
    }

    function pad(num) {
        num = "0" + num;
        return num.slice(-2);
    }

    function getData(id) {
        window.location.href = '/PANEL/Raporlama/KullaniciGirisKontrol?page=' + id;
    }

</script>
