﻿@model PagedList.IPagedList<Kullanici>
@{
    int index = (int)ViewBag.RecordNo;
    int toplamOgrenciDefault = (int)ViewBag.OgrenciAdet;
    int? firmaRef = null;
    if (!UserRoleName.PANEL_AdminGiris.InRole())
    {
        firmaRef = AktifKullanici.Aktif.FirmaId;
    }
    var siniflar = (List<Sinif>)ViewBag.Siniflar;
}
@using Haveak_Pro.Models;
@using PagedList.Mvc;
<div class="form-group">
    <label class="col-md-1 control-label">Sınıf Adı :</label>
    <div class="col-md-2">
        <select id="SinifListe" class="form-control select" data-style="btn-success" data-live-search="true" onchange="SinifGetir();">
            <option value="0">Sınıf Seçiniz</option>
            @foreach (var item in siniflar)
            {
                <option value="@item.ID">@item.SinifAdi</option>
            }
        </select>
    </div>
    <label class="col-md-1 control-label">Personel Adı :</label>
    <div class="col-md-2">
        <input id="PersonelAdi" type="text" class="form-control">
    </div>
    <label class="col-md-2 control-label">Personel Soyadi :</label>
    <div class="col-md-2">
        <input id="PersonelSoyadi" type="text" class="form-control">
    </div>

    <div class="col-md-2">
        <input type="button" onclick="PersonelGetir();" value="Getir" class="btn btn-danger" />
    </div>
</div>
<br />

<table class="table table-bordered table-striped table-actions" id="Personeller">
    <thead>
        <tr>
            <th>Sıra</th>
            <th>Personel</th>
            <th>Sinif</th>
            <th>Kullanıcı Adı</th>
            <th>Sifre</th>
            <th>Başlangıç Tarihi</th>
            <th>Bitiş Tarihi</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            index++; 
            <tr>
                <td>@index</td>
                <td>
                    <a href="#" class="friend">
                        <img src="~/DocumentFiles/Personel/@(item.Personel.Resim ?? "RYok.jpg")" style="width: 45px; height: 45px">
                        <span>@item.Personel.Adi @item.Personel.Soyadi</span>
                    </a>
                </td>
                <td>@{    
          
            var sb = item.Personel.Sinif_Ogrenci.Select(r => r.Sinif.SinifAdi).ToList();
            foreach (var itema in sb)
            {
                    <label>@itema</label><br />
            }          
                                               
                }

                </td>
                <td>@item.KullaniciAdi</td>
                <td>@item.Sifre</td>
                <td>@item.BaslangicTarihi.ToString("dd-MM-yyyy")</td>
                <td>@item.BitisTarihi.Value.ToString("dd-MM-yyyy")</td>
                <td>
                    <a class="btn btn-default btn-rounded btn-sm" onclick="BilgiGuncelle('@item.ID','@item.Personel_Ref','@item.KullaniciAdi', '@item.Sifre', '@item.BaslangicTarihi.ToString("yyyy-MM-dd")', '@item.BitisTarihi.Value.ToString("yyyy-MM-dd")');"><span class="fa fa-pencil"></span></a>
                    <a class="btn btn-danger btn-rounded btn-sm" onclick="Remove('@item.ID');"><span class="fa fa-times"></span></a>
                </td>
            </tr>                                                
        }
    </tbody>
    <tfoot>
        <tr>
            <td>Toplam : </td>
            <td id="OgrenciSayisi">@toplamOgrenciDefault Öğrenci</td>
        </tr>
    </tfoot>
</table>
<ul class="pagination pagination-sm pull-right push-down-20 push-up-20">
    <li>@Html.PagedListPager(Model, page => "javascript:getData(" + page + ")")</li>
</ul>

<script>
    function getData(page) {
        
        var firmaId = "";
        if ('@firmaRef' == '') {
            firmaId = $('#Firmalar').val();
        }
        else {
            firmaId = '@firmaRef';
        }
        $.get('@Url.Action("_KullaniciListesi", "PersonelIslemler", new { area = "PANEL" })', { page: page, firmaRef: firmaId }, function (result) {
            $('#Liste').html(result);
            $('#SinifListe').selectpicker('refresh');
        });
        $('#SinifListe').change();
    }

</script>
