﻿@{
    ViewBag.Title = "Kullanicilar";
    Layout = "~/Areas/PANEL/Views/Shared/_LPanel.cshtml";
    //var personel = (List<Personel>)ViewBag.Personel;


    ViewBag.Sayfa = "Personel";

    var firmalar = (List<Firmalar>)ViewBag.Firmalar;
    int? firmaRef = null;
    if (!UserRoleName.PANEL_AdminGiris.InRole())
    {
        firmaRef = AktifKullanici.Aktif.FirmaId;
    }   
}

@using Haveak_Pro.Models;
@using PagedList.Mvc;

<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home", new { area = "PANEL" })">Panel Giriş</a></li>
    <li class="active">ÜNİTELER</li>
</ul>
<!-- END BREADCRUMB -->

<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">

    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal" action="@Url.Action("KullaniciEkle", "PersonelIslemler", new { area = "PANEL" })" method="post">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>PERSONEL KULLANICI İŞLEMLERİ </strong>Yeni Kullanıcı Ekleme Kaldırma Güncelleme</h3>
                        @*<ul class="panel-controls">
                            <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                        </ul>*@
                    </div>
                    <div class="panel-body">
                        <p>Personele tanımlı Kullanıcı eklendiği, düzenlendiği yerdir.</p>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-md-2 control-label">Firma Adı :</label>
                                <div class="col-md-10">
                                    <select id="Firmalar" name="Firmalar" class="form-control select" data-style="btn-success" data-live-search="true" onchange="PersonelListe();">
                                        @if (UserRoleName.PANEL_AdminGiris.InRole())
                                        {                                          
                                            <option value="0">Harici</option>
                                            foreach (var item in firmalar)
                                            {                                              
                                            <option value="@item.ID">@item.FirmaAdi</option>                                              
                                            }
                                        }
                                        else
                                        {
                                            if (AktifKullanici.Aktif.FirmaId == null)
                                            {
                                            <option>Lütfen Firmanızın yetkili ataması için Sistem yöneticisine başvurun!</option>
                                            }
                                            else
                                            {
                                                foreach (var item in firmalar)
                                                {
                                                    if (item.ID == AktifKullanici.Aktif.FirmaId)
                                                    {
                                            <option value="@item.ID" selected>@item.FirmaAdi</option>
                                                    }
                                                }
                                            }
                                        }
                                    </select>
                                    <span class="help-block">Firma Bilgisi</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Personel :</label>
                                <div class="col-md-10">
                                    <select id="Personel_Ref" name="Personel_Ref" class="form-control select" data-live-search="true">
                                        <option value="0">Personel Seçiniz</option>
                                        @*  @foreach (var item in personel)
                                        {
                                            <option value="@item.ID">@item.Adi @item.Soyadi (@item.TCNo)</option>
                                        }*@
                                    </select>
                                    <input type="hidden" id="ID" value="" />
                                    <span class="help-block">Kullanıcı oluşturulacak Personel seçiniz</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Kullanici Adı</label>
                                <div class="col-md-10">
                                    <input id="KullaniciAdi" name="KullaniciAdi" type="text" class="form-control">
                                    <span class="help-block">Kullanıcı adı girişi</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Şifre</label>
                                <div class="col-md-10">
                                    <input id="Sifre" name="Sifre" type="text" class="form-control">
                                    <span class="help-block">Şifre girişi</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Başlangıç Tarihi</label>
                                <div class="col-md-10">
                                    <input id="BaslangicTarihi" name="BaslangicTarihi" type="text" class="form-control datepicker">
                                    <span class="help-block">Başlangıç Tarihi girişi (Yıl-Ay-Gün)</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Bitiş Tarihi</label>
                                <div class="col-md-10">
                                    <input id="BitisTarihi" name="BitisTarihi" type="text" class="form-control datepicker">
                                    <span class="help-block">Bitiş Tarihi girişi (Yıl-Ay-Gün)</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Kullanıcılar</h3>
                                </div>
                                <div class="panel-body">
                                    <div id="Liste">
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">Yükleniyor..</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <button class="btn btn-default">Temizle</button>
                        <input type="button" id="KaydetBtn" class="btn btn-primary" value="Kaydet" onclick="Ekle();" />
                        <input type="button" id="GuncelleBtn" class="btn btn-danger" style="visibility: hidden" value="Güncelle" onclick="Guncelle();" />
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
<!-- END PAGE CONTENT WRAPPER -->


<button type="button" id="uyari" class="btn btn-warning mb-control" data-box="#message-box-warning" style="visibility: hidden"></button>
<button type="button" id="uyari2" class="btn btn-warning mb-control" data-box="#message-box-warning2" style="visibility: hidden"></button>
<button type="button" id="onay" class="btn btn-info mb-control" data-box="#message-box-info" style="visibility: hidden"></button>
<button type="button" id="silme" class="btn btn-danger mb-control" data-box="#message-box-sound-2" style="visibility: hidden"></button>

<div class="message-box message-box-warning animated fadeIn" id="message-box-warning">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-warning"></span>Dikkat</div>
            <div class="mb-content">
                <p>Lütfen Eksik bilgi bırakmıayınız kontrol ediniz!</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close">Kapat</button>
            </div>
        </div>
    </div>
</div>
<div class="message-box message-box-warning animated fadeIn" id="message-box-warning2">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-warning"></span>Dikkat</div>
            <div class="mb-content">
                <p>Girdiğiniz kullanıcı adı sistemde mevcuttur!</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close">Kapat</button>
            </div>
        </div>
    </div>
</div>
<div class="message-box message-box-info animated fadeIn" id="message-box-info">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-info"></span>İşlem Onayı</div>
            <div class="mb-content">
                <p>İşleminiz Başarı ile gerçekleşmiştir.</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close" onclick="Refresh();">Kapat</button>
            </div>
        </div>
    </div>
</div>
<div class="message-box message-box-danger animated fadeIn" data-sound="fail" id="message-box-sound-2">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-times"></span>Dikkat!</div>
            <div class="mb-content">
                <p>Seçili Kullanıcı Sistemden Kaldırılacaktır Eminmisiniz?</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-danger btn-lg pull-right mb-control-close" onclick="Sil();">Evet</button>
                <button class="btn btn-default btn-lg pull-right mb-control-close">Kapat</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="~/js/plugins/jquery/jquery.min.js"></script>
<script>

    $(function () {
        PersonelListe();
    });

    function PersonelListe() {
        var id = $('#Firmalar').val();
        $.get('@Url.Action("FirmaPersoneli", "PersonelIslemler", new { area = "PANEL" })', { firmaId: id }, function (result) {

            $('#Personel_Ref').empty();
            $('#Personel_Ref').append($('<option>', {
                value: 0,
                text: "Personel Seçiniz"
            }));
            $.each(result, function (i, item) {

                $('#Personel_Ref').append($('<option>', {
                    value: item.ID,
                    text: item.Adi + " " + item.Soyadi + " (" + item.TCNo + ")"
                }));
            });
            $('#Personel_Ref').selectpicker('refresh');
        });
        $('#Personel_Ref').change();

        var firmaId = "";
        if ('@firmaRef' == '') {
            firmaId = $('#Firmalar').val();
        }
        else {
            firmaId = '@firmaRef';
        }

        $.get('@Url.Action("_KullaniciListesi", "PersonelIslemler", new { area = "PANEL" })', { firmaRef: firmaId }, function (result) {
            $('#Liste').html(result);
            $('#SinifListe').selectpicker('refresh');
        });
        $('#SinifListe').change();
    }



    function BilgiGuncelle(id, pref, kadi, sifre, btarih, bittar) {
        $("#GuncelleBtn").attr("style", "visibility:visible");
        $("#KaydetBtn").attr("style", "visibility:hidden");
        $("#Personel_Ref option:selected").removeAttr("selected");
        $("#Personel_Ref option[value='" + pref + "']").attr('selected', 'selected;');
        $("#Personel_Ref").change();
        $("#Personel_Ref option[value='" + pref + "']").attr('disabled', 'disabled');
        $("#KullaniciAdi").val(kadi);
        $("#KullaniciAdi").focus();
        $("#BaslangicTarihi").val(btarih);
        $("#BitisTarihi").val(bittar);
        $("#Sifre").val(sifre);
        $("#ID").val(id);
    }

    //var key_count_global;
    //function init() {
    //    key_count_global = 0; // Global variable
    //    document.getElementById("PersonelAdi").onkeyup = function () {
    //        key_count_global++;
    //        setTimeout("PersonelGetir(" + key_count_global + ")", 1000);//Function will be called 1 second after user types anything. Feel free to change this value.
    //    }
    //    document.getElementById("PersonelSoyadi").onkeyup = function () {
    //        key_count_global++;
    //        setTimeout("PersonelGetir(" + key_count_global + ")", 1000);//Function will be called 1 second after user types anything. Feel free to change this value.
    //    }

    //    //document.getElementById("PersonelAdi").onc = function () {
    //    //    key_count_global++;
    //    //    setTimeout("PersonelGetir(" + key_count_global + ")", 1000);//Function will be called 1 second after user types anything. Feel free to change this value.
    //    //}
    //}
    //window.onload = init; //or $(document).ready(init);


    function PersonelGetir() {
        
        var prs = $('#PersonelAdi').val();
        var prs2 = $('#PersonelSoyadi').val();
        var sinif = $('#SinifListe').val();
        //if (key_count == key_count_global) {
        $('#Personeller tbody tr').remove();
        $.get('@Url.Action("PersonelGetir", "PersonelIslemler", new { area = "PANEL" })', { sinifi: sinif, padi: prs, psoyadi: prs2 }, function (result) {

                $.each(result, function (i, item) {

                    var eklePr = '<tr>' +
                                                        '<td>' + (i + 1) + '</td>' +
                                                        '<td>' +
                    '<a href="#" class="friend">' +
                        '<img src="~/DocumentFiles/Personel/' + (item.Resim == '' ? "RYok.jpg" : item.Resim) + '" style="width: 45px; height: 45px">' +
                        '<span>' + item.Adi + ' ' + item.Soyadi + '</span>' +
                    '</a>' +
                '</td>' +
                                                        '<td>' + item.Sinif + '</td>' +
                                                        '<td>' + item.Kullaniciadi + '</td>' +
                                                        '<td>' + item.Sifre + '</td>' +
                                                        '<td>' + formatJSONDate(item.BaslangicTarihi, "1") + '</td>' +
                                                        '<td>' + formatJSONDate(item.BitisTarihi, "1") + '</td>' +
                                                        '<td>' +
                                                            '<a class="btn btn-default btn-rounded btn-sm" onclick="BilgiGuncelle(' + "'" + item.ID + "'" + ',' + "'" + item.Personel_Ref + "'" + ',' + "'" + item.Kullaniciadi + "'" + ', ' + "'" + item.Sifre + "'" + ', ' + "'" + formatJSONDate(item.BaslangicTarihi, "2") + "'" + ', ' + "'" + formatJSONDate(item.BitisTarihi, "2") + "'" + ');"><span class="fa fa-pencil"></span></a>' +
                                                            '<a class="btn btn-danger btn-rounded btn-sm" onclick="Remove(' + "'" + item.ID + "'" + ');"><span class="fa fa-times"></span></a>' +
                                                        '</td>' +
                                                    '</tr>';
                    $('#Personeller tbody').append(eklePr);
                    var ogrenciSayi = $('#Personeller tbody tr').length;
                    $('#OgrenciSayisi').html(ogrenciSayi + " Öğrenci");

                });
            });
        //}
        }

        function formatJSONDate(datex, type) {
            var str, year, month, day, d, finalDate;
            str = datex.replace(/\D/g, "");
            d = new Date(parseInt(str));
            year = d.getFullYear();
            month = pad(d.getMonth() + 1);
            day = pad(d.getDate());
            if (type == "1") {
                finalDate = day + "-" + month + "-" + year;
            }
            else {
                finalDate = year + "-" + month + "-" + day;
            }
            return finalDate;
        }

        function pad(num) {
            num = "0" + num;
            return num.slice(-2);
        }

        function Ekle() {

            var personel = $("#Personel_Ref").val();
            var kadi = $("#KullaniciAdi").val();
            var sifre = $("#KullaniciAdi").val();
            var btarih = $("#BaslangicTarihi").val();
            var bittar = $("#BitisTarihi").val();
            if (personel == "0" || kadi == "" || sifre == "" || btarih == "" || bittar == "") {
                $('#uyari').click();
                return;
            }

            $.get('/PANEL/PersonelIslemler/KullaniciKontrol', { 'KullaniciAdi': kadi }, function (data) {

                if (!data) {
                    $('form').submit();
                }
                else {
                    $('#uyari2').click();
                }
            });

        }

        function Guncelle() {
            //var personel = $("#Personel_Ref").val();
            var kadi = $("#KullaniciAdi").val();
            var sifre = $("#Sifre").val();
            var btarih = $("#BaslangicTarihi").val();
            var bittar = $("#BitisTarihi").val();
            var id = $("#ID").val();
            if (kadi == "" || sifre == "" || btarih == "" || bittar == "") {
                $('#uyari').click();
                return;
            }

            $.get('@Url.Action("KullaniciGuncelle", "PersonelIslemler", new { area = "PANEL" })', { ID: id, KullaniciAdi: kadi, Sifre: sifre, BaslangicTarihi: btarih, BitisTarihi: bittar }, function (data) {
            if (data) {
                $('#onay').click();
            }
        });
    }

    function Remove(id) {
        $('#silme').click();
        $("#ID").val(id);
    }

    function Sil() {
        var id = $("#ID").val();
        $.get('@Url.Action("KullaniciSil", "PersonelIslemler", new { area = "PANEL" })', { ID: id }, function (data) {
            if (data) {
                $('#onay').click();
            }
        });
    }
    function Refresh() {
        window.location.href = '@Url.Action("Kullanicilar", "PersonelIslemler", new { area = "PANEL" })';
    }


    function SinifGetir() {
        var sinif = $('#SinifListe').val();
        var firmaId = $('#Firmalar').val();
        if (sinif != "0") {
            $('#Personeller tbody tr').remove();
            //var time = setTimeout(function () {
            $.get('@Url.Action("SinifPersonelGetir", "PersonelIslemler", new { area = "PANEL" })', { id: sinif, firmaRef: firmaId }, function (result) {
                $.each(result, function (i, item) {
                    var eklePr = '<tr>' +
                                                        '<td>' + (i + 1) + '</td>' +
                                                        '<td>' +
                    '<a href="#" class="friend">' +
                        '<img src="~/DocumentFiles/Personel/' + (item.Resim == '' ? "RYok.jpg" : item.Resim) + '" style="width: 45px; height: 45px">' +
                        '<span>' + item.Adi + ' ' + item.Soyadi + '</span>' +
                    '</a>' +
                '</td>' +
                                                        '<td>' + item.Sinif + '</td>' +
                                                        '<td>' + item.Kullaniciadi + '</td>' +
                                                        '<td>' + item.Sifre + '</td>' +
                                                        '<td>' + formatJSONDate(item.BaslangicTarihi, "1") + '</td>' +
                                                        '<td>' + formatJSONDate(item.BitisTarihi, "1") + '</td>' +
                                                        '<td>' +
                                                            '<a class="btn btn-default btn-rounded btn-sm" onclick="BilgiGuncelle(' + "'" + item.ID + "'" + ',' + "'" + item.Personel_Ref + "'" + ',' + "'" + item.Kullaniciadi + "'" + ', ' + "'" + item.Sifre + "'" + ', ' + "'" + formatJSONDate(item.BaslangicTarihi, "2") + "'" + ', ' + "'" + formatJSONDate(item.BitisTarihi, "2") + "'" + ');"><span class="fa fa-pencil"></span></a>' +
                                                            '<a class="btn btn-danger btn-rounded btn-sm" onclick="Remove(' + "'" + item.ID + "'" + ');"><span class="fa fa-times"></span></a>' +
                                                        '</td>' +
                                                    '</tr>';
                    $('#Personeller tbody').append(eklePr);
                    var ogrenciSayi = $('#Personeller tbody tr').length;
                    $('#OgrenciSayisi').html(ogrenciSayi + " Öğrenci");
                });
            });
        }
    }

</script>
