﻿@model int
@{
    ViewBag.Title = "PersonelRapor";
    Layout = "~/Areas/PANEL/Views/Shared/_LPanel.cshtml";
}


<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home", new { area = "PANEL" })">Panel Giriş</a></li>
    <li><a href="@Url.Action("PersonelListe", "PersonelIslemler", new { area = "PANEL" })">Personel Liste</a></li>
    <li class="active">PERSONEL DETAYLI LİSTE</li>
</ul>
<!-- END BREADCRUMB -->

<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">

    <div class="row">
        <div class="col-md-12">
              <form id="form1" class="form-horizontal">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><strong>PERSONEL GENEL BİLGİ DURUM</strong>Sınıfa Bağlı personel detay listesi</h3>
                            <ul class="panel-controls">
                                <li><a href="@Url.Action("PersonelListe", "PersonelIslemler", new { area = "PANEL" })" class="panel-remove"><span class="fa fa-times"></span></a></li>
                            </ul>
                        </div>                     
                        <div class="panel-body" align="center">
            @Html.Partial("~/Views/Shared/ReportViews/PersonelBilgi.aspx", Model);
                            </div>
                        </div>
                   <div class="panel-footer">
                            <a class="btn btn-default" href="@Url.Action("PersonelListe", "PersonelIslemler", new { area = "PANEL" })" style="cursor:pointer">Listeye Dön</a>                         
                        </div>
                  </form>
        </div>
    </div>
</div>
