﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HAVACILIK GÜVENLİĞİ EĞİTİM AKADEMİSİ</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />    
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" />
    <!-- END META SECTION -->

    <!-- CSS INCLUDE -->
    <link rel="stylesheet" type="text/css" id="theme" href="~/css/theme-dark.css" />
</head>
<body oncontextmenu='return false' style="-webkit-user-select: none;" >
    <div class="page-container page-navigation-top-fixed">
        <!-- PAGE CONTENT -->
        <div class="page-content">

            <!-- START X-NAVIGATION VERTICAL -->
            <ul class="x-navigation x-navigation-horizontal">
                <li class="xn-logo">
                    <img src="~/img/logo.png" style="width: 220px; height: 50px" />
                </li>
                <li>
                    <a href="@Url.Action("Index", "Home", new { area = "" })"><span class="fa fa-desktop"></span><span class="xn-text">Ana Sayfa</span></a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Duyurular", new { area = "" })"><span class="fa fa-bullhorn"></span><span class="xn-text">Duyurular</span></a>
                </li>
                <li>
                    <a href="@Url.Action("Mesajlar", "MesajIslemler", new { area = "" })"><span class="fa fa-copy"></span>Mesajlar</a>
                    @* <a href="@Url.Action("Index", "Sinavlar", new { area=""})"><span class="fa fa-clock-o"></span><span class="xn-text">Sınavlar</span></a>*@

                </li>
                <li class="xn-openable">
                    <a href="#"><span class="fa fa-file"></span>İletişim</a>

                    <ul>
                        <li><a href="@Url.Action("Mesajlar", "MesajIslemler", new { area = "" })"><span class="fa fa-copy"></span>Mesajlar</a></li>
                        <li><a href="@Url.Action("PostaGelen", "MesajIslemler", new { area = "" })"><span class="fa fa-file-o"></span>E-Posta</a></li>
                    </ul>
                </li>
                <!-- END SIGN OUT -->
            </ul>
         

            @RenderBody()
        </div>
      
    </div>
    
    <div class="message-box animated fadeIn" data-sound="alert" id="mb-signout">
        <div class="mb-container">
            <div class="mb-middle">
                <div class="mb-title"><span class="fa fa-power-off"></span>Kullanıcı <strong>Çıkışı</strong> ?</div>
                <div class="mb-content">
                    <p>Programdan Çıkmak istediğiize eminmisiniz?</p>
                    <p>Çıkmak istemiyorsanız hayır a basınız</p>
                </div>
                <div class="mb-footer">
                    <div class="pull-right">
                        <a href="@Url.Action("LogOff", "Kontrol", new { area = "" })" class="btn btn-success btn-lg">Evet</a>
                        <button class="btn btn-default btn-lg mb-control-close">Hayır</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    <audio id="audio-alert" src="~/audio/alert.mp3" preload="auto"></audio>
    <audio id="audio-fail" src="~/audio/fail.mp3" preload="auto"></audio> 
    <script type="text/javascript" src="~/js/plugins/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/plugins/jquery/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/js/plugins/bootstrap/bootstrap.min.js"></script>   
    <script type='text/javascript' src='~/js/plugins/icheck/icheck.min.js'></script>
    <script type="text/javascript" src="~/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>
    <script type="text/javascript" src="~/js/plugins/blueimp/jquery.blueimp-gallery.min.js"></script> 
    <script type='text/javascript' src='~/js/plugins/noty/jquery.noty.js'></script>
    <script type='text/javascript' src='~/js/plugins/noty/layouts/topCenter.js'></script>
    <script type='text/javascript' src='~/js/plugins/noty/themes/default.js'></script> 
    <script type="text/javascript" src="~/js/plugins.js"></script>
    <script type="text/javascript" src="~/js/actions.js"></script>
    @* <script>
        document.getElementById('links').onclick = function (event) {
            event = event || window.event;
            var target = event.target || event.srcElement,
                link = target.src ? target.parentNode : target,
                options = {
                    index: link, event: event, onclosed: function () {
                        setTimeout(function () {
                            $("body").css("overflow", "");
                        }, 200);
                    }
                },
                links = this.getElementsByTagName('a');
            blueimp.Gallery(links, options);
        };
    </script>*@
</body>
</html>

<script>
    $(function () {
        if (location.protocol != 'https:') {
            location.href = 'https:' + window.location.href.substring(window.location.protocol.length);
        }  
    });

    $('div').on('dragstart', function (event) { event.preventDefault(); });
    $('img').on('dragstart', function (event) { event.preventDefault(); });

    $(document).keydown(function (event) {
        if (event.keyCode == 123) {
            return false;
        }
        else if (event.ctrlKey && event.shiftKey && event.keyCode == 73) {
            return false;  //Prevent from ctrl+shift+i
        }
    });
    $(document).on("contextmenu", function (e) {
        e.preventDefault();
    });

    //window.onbeforeunload = function (event) {
    //    var message = 'Dikkat sayfadan ayrılıyorsuuz. Eminmisiniz?';
    //    if (typeof event == 'undefined') {
    //        event = window.event;
    //    }
    //    if (event) {
    //        event.returnValue = message;
    //    }
    //    return message;
    //};

    //$(function () {
    //    $("a").not('#lnkLogOut').click(function () {
    //        window.onbeforeunload = null;
    //    });
    //    $(".btn").click(function () {
    //        window.onbeforeunload = null;
    //    });
    //});

   

</script>
