﻿@{
    ViewBag.Title = "Mesajlar";
    Layout = "~/Views/Shared/_LMenu.cshtml";

    var mesajKisiler = (List<Kullanici>)ViewBag.MesajKisiler;    
}
@using Haveak_Pro.Models;


<ul class="breadcrumb push-down-0">
    <li><a href="@Url.Action("Index", "Home", new { area = "" })">AnaSayfa</a></li>
    <li class="active"><a href="#">Mesajlar</a></li>
</ul>
<div class="content-frame">

    <div class="content-frame-top">
        <div class="page-title">
            <h2><span class="fa fa-comments"></span>Mesajlar</h2>
        </div>
    </div>
    <div class="content-frame-right">
        <div class="list-group list-group-contacts border-bottom push-down-10">

            <table id="Kullanicilar" class="table datatable">
                <thead>
                    <tr>
                        <th>Kişiler</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in mesajKisiler)
                    {
                        <tr>
                            <td>
                                <a href="javascript:MesajDataGenelGetir('@item.Personel.ID')" class="list-group-item">
                                    <div class="list-group-status status-online"></div>
                                    <img src="~/DocumentFiles/Personel/@(item.Personel.Resim ?? "RYok.jpg")" class="pull-left" alt="@item.Personel.Adi @item.Personel.Soyadi">
                                    <span class="contacts-title">@item.Personel.Adi @item.Personel.Soyadi</span>
                                    @if (!UserRoleName.PANEL_AdminGiris.InRole() || !UserRoleName.ADMIN_Egitim.InRole())
                                    {
                                        <p>Yönetici</p>
                                    }
                                    else
                                    {
                                        <p>Kullanıcı</p>     
                                    }
                                </a>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>           

        </div>      
        
           <div class="panel panel-danger">
                                <div class="panel-heading ui-draggable-handle">
                                    <h3 class="panel-title">YENİ BİLDİRİM GÖNDERİMİ</h3>
                                </div>
                                <div class="panel-body">
                                   <textarea id="Mesaj" rows="2" cols="5" class="form-control" placeholder="Mesajınız..."></textarea>
                                </div>
                                <div class="panel-footer">                                
                                    <button class="btn btn-default" onclick="MesajGonder();">Gönder</button>
                                </div>
                            </div>
          
    </div>
    <div class="content-frame-body content-frame-body-left">
        <div class="messages messages-img" id="MesajIcerik">
        </div>
    </div>
</div>

<script>   
    function MesajDataGenelGetir(gid) {       
        $.get('@Url.Action("_MesajIcerikGnl", "MesajIslemler", new { area = "" })', { aliciRef: gid }, function (data) { 
            $('#MesajIcerik').html(data);
            $('#Kullanicilar').dataTable();            
        });
    }

    function MesajGonder()
    {        
        var aliciRef = $('#AliciRef').val();
        if (aliciRef =="") {
            alert("Litfen Alıcı Seçiniz!");
            return;
        }
        var mesaj = $('#Mesaj').val();
        $.ajax({
            url: "@Url.Action("MesajGonder", "Home", new { area =""})",
            data: { 'aliciRef': aliciRef, 'mesaj': mesaj },
            success: (function (kaydet) {
                if (kaydet) {
                    MesajDataGetir();
                    $('#Mesaj').val('');
                    $('#Kullanicilar').dataTable();  
                    MesajDataGetir(aliciRef);
                }
            }),
            error: function (hata) {
                $('#hata').click();
            }
        });
    }

</script>
