﻿@model List<Bolum>
@{
    ViewBag.Title = "Kategori";
    Layout = "~/Areas/PANEL/Views/Shared/_LPanel.cshtml";
    int index = 0;
    ViewBag.Sayfa = "Egitim";
}
@using Haveak_Pro.Models;



    <!-- START BREADCRUMB -->
    <ul class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home", new { area = "PANEL" })">Panel Giriş</a></li>
        <li class="active">KATEGORİLER</li>
    </ul>
    <!-- END BREADCRUMB -->

    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">

        <div class="row">
            <div class="col-md-12">

                <form class="form-horizontal" action="@Url.Action("KategoriEkle", "EgitimIslemler", new { area= "PANEL"})" method="post">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><strong>EĞİTİM KATEGORİ İŞLEMLERİ </strong>Kategori Ekleme Güncelleme</h3>
                            
                        </div>
                        <div class="panel-body">
                            <p>Eğitim Kategorilerinin tanımlandığı ve güncellendiği yerdir. </p>
                        </div>
                        <div class="panel-body">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-3 col-xs-12 control-label">Kategori Adı :</label>
                                    <div class="col-md-9 col-xs-12">
                                        <div class="input-group">
                                            <input id="KategoriAdi" name="KategoriAdi" type="text" placeholder="Adı giriniz" class="form-control" style="width: 300px">
                                            <input type="hidden" id="ID" value="" />
                                        </div>
                                        <span class="help-block">Eğitim Bölüm Kategori girişi</span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Kategoriler</h3>
                                        <ul class="panel-controls">
                                            <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                                        </ul>
                                    </div>
                                    <div class="panel-body" style="overflow-y: scroll">
                                        <table class="table table-bordered table-striped table-actions datatable">
                                            <thead>
                                                <tr>
                                                    <th>Sıra</th>
                                                    <th>Kategori Adı</th>
                                                    <th>İşlem</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model)
                                                {
                                                    index++;                                      

                                                    <tr>
                                                        <td>@index</td>
                                                        <td>@item.BolumAdi</td>
                                                        <td>
                                                             <a class="btn btn-default btn-rounded btn-sm" onclick="BilgiGuncelle('@item.ID','@item.BolumAdi');"><span class="fa fa-pencil"></span></a>                                                            
                                                        </td>
                                                    </tr>                                                
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="panel-footer">
                            <a class="btn btn-default" onclick="Refresh();" style="cursor:pointer">Temizle</a>
                            <input type="button" id="KaydetBtn" class="btn btn-primary" value="Kaydet" onclick="Ekle();" />
                            <input type="button" id="GuncelleBtn" class="btn btn-danger" style="visibility: hidden" value="Güncelle" onclick="Guncelle();"/>
                        </div>
                    </div>
                </form>

            </div>
        </div>

    </div>
    <!-- END PAGE CONTENT WRAPPER -->

<button type="button" id="uyari" class="btn btn-warning mb-control" data-box="#message-box-warning" style="visibility: hidden"></button>
<button type="button" id="onay" class="btn btn-info mb-control" data-box="#message-box-info" style="visibility: hidden"></button>

<div class="message-box message-box-warning animated fadeIn" id="message-box-warning">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-warning"></span>Dikkat</div>
            <div class="mb-content">
                <p>Lütfen Kategori Adı giriniz!</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close">Kapat</button>
            </div>
        </div>
    </div>
</div>
<div class="message-box message-box-info animated fadeIn" id="message-box-info">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-info"></span>İşlem Onayı</div>
            <div class="mb-content">
                <p>İşleminiz Başarı ile gerçekleşmiştir.</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close" onclick="Refresh();">Kapat</button>
            </div>
        </div>
    </div>
</div>


<script>
    function BilgiGuncelle(id, badi)
    {
        $("#GuncelleBtn").attr("style", "visibility:visible");
        $("#KaydetBtn").attr("style", "visibility:hidden");
        $("#KategoriAdi").val(badi);
        $("#KategoriAdi").focus();
        $("#ID").val(id);
    }

    function Ekle()
    {
        var kategori =  $("#KategoriAdi").val();
        if (kategori == "") {
            $('#uyari').click();    
            return;
        }

        $('form').submit();
    }

    function Guncelle()
    { 
        var kategoriAdi =  $("#KategoriAdi").val();
        var id =  $("#ID").val();

        $.get('@Url.Action("KategoriGuncelle", "EgitimIslemler", new { area = "PANEL" })', { id: id, KategoriAdi : kategoriAdi}, function (data) {
            if (data) {
                $('#onay').click();  
            }        
        });    
    }
    function Refresh()
    {
        window.location.href = '@Url.Action("EgitimKategori", "EgitimIslemler", new { area = "PANEL"})';
    }


</script>
