﻿@model List<KursModuller>
@{
    ViewBag.Title = "KategoriyeModulAtama";
    Layout = "~/Areas/PANEL/Views/Shared/_LPanel.cshtml";
    int index = 0;
    var bolumList = (List<Bolum>)ViewBag.Bolumler;
    ViewBag.Sayfa = "Egitim";
}
@using Haveak_Pro.Models;



    <!-- START BREADCRUMB -->
    <ul class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home", new { area = "PANEL" })">Panel Giriş</a></li>
        <li class="active">KURSLAR</li>
    </ul>
    <!-- END BREADCRUMB -->

    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">

        <div class="row">
            <div class="col-md-12">

                <form class="form-horizontal">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><strong>EĞİTİM KURS İŞLEMLERİ </strong>Kategoriye bağlı modül ekleme kaldırma güncelleme</h3>
                          
                        </div>
                        <div class="panel-body">
                            <p>Eğitim kurslarına tanımlı modüllerin eklendiği, düzenlendiği yerdir.</p>
                        </div>
                        <div class="panel-body">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Kategori Adı</label>
                                    <div class="col-md-10">
                                        <select id="Kategori_Ref" name="Kategori_Ref" class="form-control select" data-style="btn-success" onchange="ModulGetir();">
                                            <option value="0">Kategori Seçiniz</option>
                                            @foreach (var item in bolumList)
                                            {
                                                <option value="@item.ID">@item.BolumAdi</option>
                                            }
                                        </select>
                                        <input type="hidden" id="ID" value="" />
                                        <span class="help-block">Eğitim Kategori Seçimi</span>

                                    </div>

                                </div>

                                <div class="form-group">
                                    <label class="col-md-2 control-label">Modül :</label>
                                    <div class="col-md-10">
                                       
                                        <div class="panel panel-default">
                                            <div class="panel-body">
                                                <div class="form-group" id="Moduller">
                                                
                                                </div>

                                            </div>
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Kurslar</h3>
                                        <ul class="panel-controls">
                                            <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                                        </ul>
                                    </div>
                                    <div class="panel-body" style="overflow-y: scroll">
                                        <table class="table table-bordered table-striped table-actions datatable">
                                            <thead>
                                                <tr>
                                                    <th>Sıra</th>
                                                    <th>Kategoriler</th>
                                                    <th>Modüller</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model.Select(t => new { t.Bolum.BolumAdi }).Distinct())
                                                {
                                                    index++; 
                                                    <tr>
                                                        <td>@index</td>
                                                        <td style="width: 400px">@item.BolumAdi</td>
                                                        <td>
                                                            <table>
                                                                @foreach (var itemx in Model.Where(t => t.Bolum.BolumAdi == item.BolumAdi))
                                                                {
                                                                    <tr>
                                                                        <td style="width: 120px">@itemx.UniteModul.Modul
                                                                        </td>
                                                                        <td>                                                                                                                                                       
                                                                           <a class="btn btn-danger btn-rounded btn-sm" onclick="Remove('@itemx.ID');"><span class="fa fa-times"></span></a>                                                                              
                                                                        </td>
                                                                    </tr>
                                                                }
                                                            </table>
                                                        </td>
                                                    </tr>                                                
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="panel-footer">
                            <button class="btn btn-default">Temizle</button>
                            <input type="button" id="KaydetBtn" class="btn btn-primary" value="Kaydet" onclick="Ekle();" />
                            <input type="button" id="GuncelleBtn" class="btn btn-danger" style="visibility: hidden" value="Güncelle" onclick="Guncelle();" />
                        </div>
                    </div>
                </form>

            </div>
        </div>

    </div>
    <!-- END PAGE CONTENT WRAPPER -->


<button type="button" id="uyari" class="btn btn-warning mb-control" data-box="#message-box-warning" style="visibility: hidden"></button>
<button type="button" id="onay" class="btn btn-info mb-control" data-box="#message-box-info" style="visibility: hidden"></button>
<button type="button" id="silme" class="btn btn-danger mb-control" data-box="#message-box-sound-2" style="visibility: hidden"></button>

<div class="message-box message-box-warning animated fadeIn" id="message-box-warning">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-warning"></span>Dikkat</div>
            <div class="mb-content">
                <p>Lütfen Seçili Modül ve Kategori Adı bilgilerini kontrol ediniz!</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close">Kapat</button>
            </div>
        </div>
    </div>
</div>
<div class="message-box message-box-info animated fadeIn" id="message-box-info">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-info"></span>İşlem Onayı</div>
            <div class="mb-content">
                <p>İşleminiz Başarı ile gerçekleşmiştir.</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close" onclick="Refresh();">Kapat</button>
            </div>
        </div>
    </div>
</div>
<div class="message-box message-box-danger animated fadeIn" data-sound="fail" id="message-box-sound-2">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-times"></span>Dikkat!</div>
            <div class="mb-content">
                <p>Seçili Ünite Sistemden Kaldırılacaktır Eminmisiniz? (Uyarı: Üniteye bağlı Tüm Konular sistemden kaldırılacaktır!!!)</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-danger btn-lg pull-right mb-control-close" onclick="Sil();">Evet</button>
                <button class="btn btn-default btn-lg pull-right mb-control-close">Kapat</button>
            </div>
        </div>
    </div>
</div>

<script>
    function ModulGetir() {      
        $('#Moduller').html('');
        var ID = $('#Kategori_Ref').val();
        $.ajax({
            url: "/PANEL/EgitimIslemler/SeciliBolumeAtanmamisKurslar",
            data: { 'ID': ID },
            success: function (result) {
                $.each(result, function (i, item) {

                    var moduller = "<div class='col-md-4'>" +
                                           "<label class='check'>" +
                                       "<input type='checkbox' class='icheckbox' id='ModulRef_" + item.ID + "' /> " + item.Modul + "" +
                                            "</label></div>";


                    $('#Moduller').append(moduller);                    
                });
            },
            error: function (hata) {
                alert(hata.responseText);ş
            }
        });
        
    }        

    function Ekle() {
       
        var kategori = $("#Kategori_Ref").val();

        var list = "";
        $('div#Moduller input[type=checkbox]').each(function () {
           
            if ($(this).is(":checked")) {
                var idx = $(this).attr('id').split('_')[1];
                list += idx + ',';
            }
        });
       
        if (kategori == "0" || list == "") {
            $('#uyari').click();
            return;
        }       
        $.ajax({
            type: 'Post',
            cache: false,
            url: '/PANEL/EgitimIslemler/SaveKursModul',
            data: { 'Bolum_Ref': kategori, 'UniteModul_Ref': list },
            async: false,
            success: function (data) {
                $('#onay').click();
            },
            error: function (data) {
                alert(data);
            }
        });
    }
   
    function Remove(id) {
        $('#silme').click();
        $("#ID").val(id);
    }

    function Sil() {       
        var id = $("#ID").val();
        $.get('@Url.Action("DeleteKursModul", "EgitimIslemler", new { area = "PANEL" })', { ID: id }, function (data) {
            if (data) {
                $('#onay').click();
            }
        });
    }
    function Refresh() {
        window.location.href = '@Url.Action("KategoriyeModulAtama", "EgitimIslemler", new { area = "PANEL" })';
    }
       

</script>



