﻿@{
    var KullaniciBilgi = Haveak_Pro.Models.AktifKullanici.Aktif;
    string sayfa = (string)ViewBag.Sayfa;
    Heas_UzakEntities entity = new Heas_UzakEntities();
    DateTime bugun = DateTime.Now.Date;
    string resim = KullaniciBilgi.Picture;
    if (KullaniciBilgi.Picture == null && KullaniciBilgi.ServiceImage == null)
    {
        resim = "/DocumentFiles/Personel/RYok.jpg";
    }
    var mesajlar = entity.Mesajlars.OrderByDescending(y => y.ID).Where(t => t.Alici_Ref == KullaniciBilgi.User_Ref && t.Tarih == bugun).Take(1).ToList();

}
@using Haveak_Pro.Models;


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HAVACILIK GÜVENLİĞİ EĞİTİM AKADEMİSİ</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" href="~/favicon.ico" type="image/x-icon" />
    <!-- END META SECTION -->

    <!-- CSS INCLUDE -->
    @*<link rel="stylesheet" type="text/css" id="theme" href="~/css/theme-dark.css" />*@
    <link rel="stylesheet" type="text/css" id="theme" href="~/css/theme-forest.css" />
    <style type="text/css">
        .panel-body {
            overflow-y: scroll;
        }
    </style>
    <script lang="JavaScript">
        var saaat;
        function digitalsaat() {
            var suan = new Date();
            var dsaat = suan.getHours();
            var ddak = suan.getMinutes();
            var sny = suan.getSeconds();
            saaat = dsaat + ':' + ((ddak < 10) ? '0' : '') + ddak + ':' + ((sny < 10) ? '0' : '') + sny;
            div.innerHTML = saaat
            setTimeout("digitalsaat()", 1000);
        }
    </script>
</head>

<body oncontextmenu='return false' style="-webkit-user-select: none;">
    <div class="page-container page-navigation-top-fixed">

        <!-- START PAGE SIDEBAR -->
        <div class="page-sidebar">
            <!-- START X-NAVIGATION -->
            <ul class="x-navigation">
                <li class="xn-logo">
                    <a><img src="~/img/logo.png" style="width: 220px; height: 50px" /></a>
                    <a href="#" class="x-navigation-control"></a>
                </li>
                <li class="xn-profile">
                    <a href="#" class="profile-mini">
                        <img src="@resim" alt="" />
                    </a>
                    <div class="profile">
                        <div class="profile-image">
                            <img src="@resim" alt="@KullaniciBilgi.EName @KullaniciBilgi.ESurName" style="width: 90px; height: 81px;" />
                        </div>
                        <div class="profile-data">
                            <div id="div" style="color: white"></div>
                            <div class="profile-data-name">Sn. @KullaniciBilgi.EName @KullaniciBilgi.ESurName</div>
                            <div class="profile-data-title">Hoşgeldiniz</div>
                        </div>
                        @* <div class="profile-controls">
                            <a href="pages-profile.html" class="profile-control-left"><span class="fa fa-info"></span></a>
                            <a href="pages-messages.html" class="profile-control-right"><span class="fa fa-envelope"></span></a>
                        </div>*@
                    </div>
                </li>
                <li class="xn-title">İŞLEMLER</li>
                <li>
                    <a href="@Url.Action("Index", "Home", new { area = "" })"><span class="fa fa-desktop"></span><span class="xn-text">KULLANICI GİRİŞ</span></a>
                </li>
                <li><a href="@Url.Action("Index", "Home", new { area = "PANEL" })"><span class="fa fa-share"></span><span class="xn-text">YÖNETİM GİRİŞ</span></a></li>
                <li>
                    <a class="" href="@Url.Action("Index", "Duyurular", new { area = "PANEL" })"><span class="fa fa-volume-up"></span><span class="xn-text">DUYURU İŞLEMLERİ</span></a>
                </li>
                @if (UserRoleName.ADMIN_PersonelKullanici.InRole() || UserRoleName.PANEL_AdminGiris.InRole())
                {
                    <li class="xn-openable">
                        <a href="#"><span class="fa fa-user"></span><span class="xn-text">PERSONEL İŞLEMLERİ</span></a>
                        <ul>
                            @if (UserRoleName.PANEL_AdminGiris.InRole())
                            {
                                <li><a class="" href="@Url.Action("PersonelFirma", "PersonelIslemler", new { area = "PANEL" })">PERSONEL FİRMA</a></li>
                            }
                            <li><a class="" href="@Url.Action("PersonelIslem", "PersonelIslemler", new { area = "PANEL" })">PERSONEL TANIMLAMA</a></li>
                            <li><a class="" href="@Url.Action("PersonelListe", "PersonelIslemler", new { area = "PANEL" })">PERSONEL LİSTESİ</a></li>
                        </ul>
                    </li>
                    <li class="xn-openable">
                        <a href="#"><span class="fa fa-group"></span><span class="xn-text">KULLANICI İŞLEMLERİ</span>
                        </a>
                        <ul>
                            <li><a class="" href="@Url.Action("Kullanicilar", "PersonelIslemler", new { area = "PANEL" })">KULLANICI TANIMLAMA</a></li>
                            <li><a class="" href="@Url.Action("KullaniciRoller", "PersonelIslemler", new { area = "PANEL" })">KULLANICI ROLLERİ</a></li>
                        </ul>
                    </li>
                }
                @if (UserRoleName.ADMIN_Egitim.InRole() || UserRoleName.PANEL_AdminGiris.InRole())
                {
                    <li class="xn-openable">
                        <a href="#"><span class="fa fa-book"></span><span class="xn-text">EĞİTİM İŞLEMLERİ  </span>
                        </a>
                        <ul>
                            @if (UserRoleName.PANEL_AdminGiris.InRole())
                            {
                                <li><a class="" href="@Url.Action("EgitimKategori", "EgitimIslemler", new { area = "PANEL" })">KATEGORİ TANIMLAMA</a></li>
                                <li><a class="" href="@Url.Action("UniteModul", "EgitimIslemler", new { area = "PANEL" })">MODÜL TANIMALMA</a></li>
                                <li><a class="" href="@Url.Action("Unite", "EgitimIslemler", new { area = "PANEL" })">ÜNİTE TANIMALMA</a></li>                            
                                <li><a class="" href="@Url.Action("Index", "EgitimIslemler", new { area = "PANEL" })">ÜNİTE İÇERİK TANIMLAMA</a></li>
                                <li><a class="" href="@Url.Action("KategoriyeModulAtama", "EgitimIslemler", new { area = "PANEL" })">KURS TANIMALMA</a></li>
                            }
                            <li><a class="" href="@Url.Action("Sinif", "EgitimIslemler", new { area = "PANEL" })">SINIF TANIMLAMA</a></li>
                            <li><a class="" href="@Url.Action("EgitimBolumAtama", "EgitimIslemler", new { area = "PANEL" })">SINIFA KURS TANIMLAMA</a></li>
                        </ul>
                    </li>
                }
                @if (UserRoleName.ADMIN_Sinav.InRole() || UserRoleName.PANEL_AdminGiris.InRole())
                {
                    <li class="xn-openable">
                        <a href="#"><span class="fa fa-edit"></span><span class="xn-text">SINAV İŞLEMLERİ</span></a>
                        <ul>
                            <li><a class="" href="@Url.Action("YeniSoruTanimlama", "SinavIslemler", new { area = "PANEL" })">SORU TANIMLAMA</a></li>
                            <li><a class="" href="@Url.Action("TanimliSorular", "SinavIslemler", new { area = "PANEL" })">TANIMLI SORULAR</a></li>
                            <li><a class="" href="@Url.Action("Testler", "SinavIslemler", new { area = "PANEL" })">TEST TANIMALAMA</a></li>
                            <li><a class="" href="@Url.Action("SinavTip", "SinavIslemler", new { area = "PANEL" })">SINAV TİPİ TANIMALAMA</a></li>
                            <li><a class="" href="@Url.Action("Sinavlar", "SinavIslemler", new { area = "PANEL" })">SINAV TANIMALAMA</a></li>
                            <li><a class="" href="@Url.Action("PersonelSinav", "SinavIslemler", new { area = "PANEL" })">SINAV ATAMA</a></li>
                            <li><a class="" href="@Url.Action("SinavCevaplama", "SinavIslemler", new { area = "PANEL" })">SINAV SONUÇ DEĞERLEME</a></li>
                            <li><a class="" href="@Url.Action("SinavDokum", "SinavIslemler", new { area = "PANEL" })">SINAV SONUÇ LİSTE</a></li>
                        </ul>
                    </li>                   
                }
            </ul>
            <!-- END X-NAVIGATION -->
        </div>
        <!-- END PAGE SIDEBAR -->
        <div class="page-content">
            <!-- START X-NAVIGATION VERTICAL -->
            <ul class="x-navigation x-navigation-horizontal x-navigation-panel">
                <!-- TOGGLE NAVIGATION -->
                <li class="xn-icon-button">
                    <a href="#" class="x-navigation-minimize"><span class="fa fa-dedent"></span></a>
                </li>

                <li class="xn-icon-button pull-right">
                    <a href="#" class="mb-control" data-box="#mb-signout"><span class="fa fa-power-off"></span></a>
                </li>

                <li class="xn-icon-button pull-right" id="mesajlar">
                    <a href="#"><span class="fa fa-comments"></span></a>
                    <div class="informer informer-danger">@mesajlar.Count</div>
                    <div class="panel panel-primary animated zoomIn xn-drop-left xn-panel-dragging" style="left: -350px; top: 50px;">
                        <div class="panel-heading">
                            <h3 class="panel-title"><span class="fa fa-comments"></span>Mesajlar</h3>
                            <div class="pull-right">
                                <span class="label label-danger">@mesajlar.Count Kişi (Bugün)</span>
                            </div>
                        </div>
                        <div class="panel-body list-group list-group-contacts scroll" style="height: 200px;">
                            @foreach (var item in mesajlar)
                            {                           
                                <a href="#" class="list-group-item">
                                    <div class="list-group-status status-online"></div>
                                    <img src="~/DocumentFiles/Personel/@(item.Personel.Resim ?? "RYok.jpg")" class="pull-left" alt="@item.Personel.Adi @item.Personel.Soyadi" />
                                    <span class="contacts-title">@item.Personel.Adi @item.Personel.Soyadi</span>
                                    <p>@item.Icerik</p>
                                </a>                               
                            }
                        </div>
                        <div class="panel-footer text-center">
                            <a href="@Url.Action("Mesajlar", "MesajIslemler", new { area = "" })">Tüm Mesajlar</a>
                        </div>
                    </div>
                </li>

            </ul>
            @RenderBody()
        </div>
    </div>
    <!-- MESSAGE BOX-->
    <div class="message-box animated fadeIn" data-sound="alert" id="mb-signout">
        <div class="mb-container">
            <div class="mb-middle">
                <div class="mb-title"><span class="fa fa-sign-out"></span>Kullanıcı <strong>Çıkışı</strong> ?</div>
                <div class="mb-content">
                    <p>Programdan Çıkmak istediğiize eminmisiniz?</p>
                    <p>Çıkmak istemiyorsanız hayır a basınız</p>
                </div>
                <div class="mb-footer">
                    <div class="pull-right">
                        <a href="@Url.Action("LogOff", "Kontrol", new { area = "" })" class="btn btn-success btn-lg">Evet</a>
                        <button class="btn btn-default btn-lg mb-control-close">Hayır</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <audio id="audio-alert" src="~/audio/alert.mp3" preload="auto"></audio>
    <audio id="audio-fail" src="~/audio/fail.mp3" preload="auto"></audio>

    <script type="text/javascript" src="~/js/plugins/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/plugins/jquery/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/js/plugins/bootstrap/bootstrap.min.js"></script>

    @switch (sayfa)
    {
        case "AnaSayfa":
        <script type="text/javascript" src="~/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>
        <script type="text/javascript" src="~/js/plugins/sparkline/jquery.sparkline.min.js"></script>
        <script type="text/javascript" src="~/js/plugins/knob/jquery.knob.min.js"></script>
            break;
        case "Bagajlar":   
        <script type="text/javascript" src="~/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>
        <script type="text/javascript" src="~/js/plugins/blueimp/jquery.blueimp-gallery.min.js"></script>           
        <script type="text/javascript" src="~/js/plugins/fileinput/fileinput.min.js"></script>        
        <script>
            document.getElementById('links').onclick = function (event) {
                event = event || window.event;
                var target = event.target || event.srcElement;
                var link = target.src ? target.parentNode : target;
                var options = {
                    index: link, event: event, onclosed: function () {
                        setTimeout(function () {
                            $("body").css("overflow", "");
                        }, 200);
                    }
                };
                var links = this.getElementsByTagName('a');
                blueimp.Gallery(links, options);
            };
        </script>  
            break;
        case "Egitim":
        <script type="text/javascript" src="~/js/plugins/bootstrap/bootstrap-datepicker.js"></script> 
        <script type="text/javascript" src="~/js/plugins/bootstrap/bootstrap-file-input.js"></script>
        <script type="text/javascript" src="~/js/plugins/bootstrap/bootstrap-select.js"></script>
        <script type="text/javascript" src="~/js/plugins/tagsinput/jquery.tagsinput.min.js"></script>
        <script type="text/javascript" src="~/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>
        <script type="text/javascript" src="~/js/plugins/datatables/jquery.dataTables.min.js"></script>  
            break;
        case "Personel":   
        <script type="text/javascript" src="~/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>
        <script type="text/javascript" src="~/js/plugins/bootstrap/bootstrap-datepicker.js"></script> 
        <script type="text/javascript" src="~/js/plugins/fileinput/fileinput.min.js"></script>      
        <script type="text/javascript" src="~/js/plugins/bootstrap/bootstrap-select.js"></script>    
        <script type='text/javascript' src='~/js/plugins/maskedinput/jquery.maskedinput.min.js'></script>    
            break;
        case "Sinav":
        <script type="text/javascript" src="~/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>
        <script type="text/javascript" src="~/js/plugins/bootstrap/bootstrap-select.js"></script>
        <script type="text/javascript" src="~/js/plugins/bootstrap/bootstrap-datepicker.js"></script>
        <script type="text/javascript" src="~/js/plugins/bootstrap/bootstrap-timepicker.min.js"></script>
        <script type="text/javascript" src="~/js/plugins/datatables/jquery.dataTables.min.js"></script>  
            break;
        case "Duyuru":
        <script type='text/javascript' src='~/js/plugins/icheck/icheck.min.js'></script>
        <script type="text/javascript" src="~/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>
        <script type="text/javascript" src="~/js/plugins/bootstrap/bootstrap-file-input.js"></script>
        <script type="text/javascript" src="~/js/plugins/bootstrap/bootstrap-select.js"></script>   
        <script type="text/javascript" src="~/js/plugins/datatables/jquery.dataTables.min.js"></script>  
            break;
        default:
        <script type="text/javascript" src="~/js/plugins/bootstrap/bootstrap-select.js"></script>
        <script type="text/javascript" src="~/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>
        <script type="text/javascript" src="~/js/plugins/datatables/jquery.dataTables.min.js"></script>  
            break;
    }
    <!-- START TEMPLATE -->
    <script type="text/javascript" src="~/js/plugins/icheck/icheck.min.js"></script>
    @RenderSection("Scripts", required: false);

    <script type="text/javascript" src="~/js/plugins.js"></script>
    <script type="text/javascript" src="~/js/actions.js"></script>

    <script>
        digitalsaat();
        //2.
        $('div').on('dragstart', function (event) { event.preventDefault(); });
        $('img').on('dragstart', function (event) { event.preventDefault(); });
        $('#fullScren').click();


        //window.onbeforeunload = function (event) {
        //    var message = 'Dikkat sayfadan ayrılıyorsuuz. Eminmisiniz?';
        //    if (typeof event == 'undefined') {
        //        event = window.event;
        //    }
        //    if (event) {
        //        event.returnValue = message;
        //    }
        //    return message;
        //};

        //3.



        $(function () {
            if (location.protocol != 'https:') {
                location.href = 'https:' + window.location.href.substring(window.location.protocol.length);
            }
            $("a").not('#lnkLogOut').click(function () {
                window.onbeforeunload = null;
            });
            $(".btn").click(function () {
                window.onbeforeunload = null;
            });
        });

 

        setInterval(function () {
            MesajKontrol();
        }, 10000);

        //$(document).keydown(function (event) {
        //    if (event.keyCode == 123) {
        //        return false;
        //    }
        //    else if (event.ctrlKey && event.shiftKey && event.keyCode == 73) {
        //        return false;  //Prevent from ctrl+shift+i
        //    }
        //});
        //$(document).on("contextmenu", function (e) {
        //    e.preventDefault();
        //});
        function MesajKontrol() {
            $('#mesajlar').html('');
            $.get('@Url.Action("VitrinMesajlar", "Home", new { area = "" })', function (data) {
                var kontrol = '';
                var count = data.length;
                kontrol = '<a href="#"><span class="fa fa-comments"></span></a><div class="informer informer-danger">' + count + '</div>' +
                    '<div class="panel panel-primary animated zoomIn xn-drop-left xn-panel-dragging" style="left: -350px; top: 50px;">' +
                        '<div class="panel-heading ui-draggable-handle">' +
                            '<h3 class="panel-title"><span class="fa fa-comments"></span>Mesajlar</h3>' +
                            '<div class="pull-right">' +
                                '<span class="label label-danger">' + count + ' Kişi (Bugün)</span>' +
                            '</div>' +
                        '</div>' +
                        '<div class="panel-body list-group list-group-contacts scroll mCustomScrollbar _mCS_1 mCS-autoHide mCS_no_scrollbar" style="height: 200px;"><div id="mCSB_1" class="mCustomScrollBox mCS-light mCSB_vertical mCSB_inside" tabindex="0"><div id="mCSB_1_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y" style="position: relative; top: 0px; left: 0px;" dir="ltr"><div id="mCSB_1" class="mCustomScrollBox mCS-light mCSB_vertical mCSB_inside" tabindex="0"><div id="mCSB_1_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y" style="position: relative; top: 0px; left: 0px;" dir="ltr" >';
                $.each(data, function (i, item) {
                    kontrol += '<a href="#" class="list-group-item">' +
                         '<div class="list-group-status status-online"></div>' +
                         '<img src="/DocumentFiles/Personel/' + item.Resim + '" class="pull-left" style="width:40px; height:37px;" alt="' + item.Ad + ' ' + item.Soyad + '" />' +
                         '<span class="contacts-title">' + item.Ad + ' ' + item.Soyad + '</span>' +
                         '<p>' + item.Icerik + '</p>' +
                                '</a>';
                });
                kontrol += '</div><div id="mCSB_1_scrollbar_vertical" class="mCSB_scrollTools mCSB_1_scrollbar mCS-light mCSB_scrollTools_vertical" style="display: none;"><div class="mCSB_draggerContainer"><div id="mCSB_1_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 30px; top: 0px; height: 0px;" oncontextmenu="return false;"><div class="mCSB_dragger_bar" style="line-height: 30px;"></div></div><div class="mCSB_draggerRail"></div></div></div></div></div><div id="mCSB_1_scrollbar_vertical" class="mCSB_scrollTools mCSB_1_scrollbar mCS-light mCSB_scrollTools_vertical"><div class="mCSB_draggerContainer"><div id="mCSB_1_dragger_vertical" class="mCSB_dragger" style="position:absolute;" oncontextmenu="return false;"><div class="mCSB_dragger_bar"></div></div><div class="mCSB_draggerRail"></div></div></div></div></div><div class="panel-footer text-center">' +
          '<a href="@Url.Action("Mesajlar", "MesajIslemler", new { area = "" })">Tüm Mesajlar</a>' +
                        '</div>' +
                    '</div>';
                $('#mesajlar').html(kontrol);
            });

            }

    </script>

















    <!-- END PRELOADS -->

    <!-- START SCRIPTS -->
    <!-- START PLUGINS -->
    @* @Scripts.Render("~/js/plugins/jquery/jquery.min.js")

    @Scripts.Render("~/js/plugins/jquery/jquery-ui.min.js")
    @Scripts.Render("~/js/plugins/bootstrap/bootstrap.min.js")
    <!-- END PLUGINS -->

    <!-- START THIS PAGE PLUGINS-->
    @Scripts.Render("~/js/plugins/icheck/icheck.min.js")
    @Scripts.Render("~/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js")*@


    @* @switch (sayfa)
    {
        case "AnaSayfa":*@
    @* @Scripts.Render("~/js/plugins/scrolltotop/scrolltopcontrol.js")
        @Scripts.Render("~/js/plugins/morris/raphael-min.js")
        @Scripts.Render("~/js/plugins/morris/morris.min.js")
        @Scripts.Render("~/js/plugins/rickshaw/d3.v3.js")
        @Scripts.Render("~/js/plugins/rickshaw/rickshaw.min.js")
        @Scripts.Render("~/js/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js")
        @Scripts.Render("~/js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js")
   
        @Scripts.Render("~/js/plugins/owl/owl.carousel.min.js")

        @Scripts.Render("~/js/plugins/moment.min.js")
        @Scripts.Render("~/js/plugins/daterangepicker/daterangepicker.js")*@
    @*      break;
        default:
            break;
    }*@



    @* @Scripts.Render("~/js/plugins/summernote/summernote.js")
    @Scripts.Render("~/js/plugins/tagsinput/jquery.tagsinput.min.js")
    @Scripts.Render("~/js/plugins/bootstrap/bootstrap-select.js")
    @Scripts.Render("~/js/plugins/bootstrap/bootstrap-file-input.js")
    @Scripts.Render("~/js/plugins/sparkline/jquery.sparkline.min.js")
    @Scripts.Render("~/js/plugins/knob/jquery.knob.min.js")*@
    <!-- END THIS PAGE PLUGINS-->


    @*@Scripts.Render("'~/js/plugins/blueimp/jquery.blueimp-gallery.min.js")
    @Scripts.Render("~/js/plugins/dropzone/dropzone.min.js")
    @Scripts.Render("~/js/plugins/fileinput/fileinput.min.js")

    @Scripts.Render("~/js/plugins/icheck/icheck.min.js")
    @Scripts.Render("~/js/plugins/datatables/jquery.dataTables.min.js")
    @Scripts.Render("~/js/plugins/bootstrap/bootstrap-datepicker.js")*@
    <!-- START TEMPLATE -->


    @* @Scripts.Render("~/js/plugins.js")
    @Scripts.Render("~/js/actions.js")
    @Scripts.Render("~/js/faq.js")
    @Scripts.Render("~/js/plugins/tocify/jquery.tocify.min.js")*@



    @* @section JavaScript {*@
    @* <script>
    $(function () {
            var toc = $("#tocify").tocify({ context: ".tocify-content", showEffect: "fadeIn", extendPage: false, selectors: "h2, h3, h4" });
        });
    </script> }*@

</body>
</html>
