﻿@{
    Layout = null;
}
@using CaptchaMvc.HtmlHelpers
@using CaptchaMvc;

<!DOCTYPE html>

<html lang="en" class="body-full-height">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HAVACILIK GÜVENLİĞİ EĞİTİM AKADEMİSİ</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />   
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" />
    <!-- END META SECTION -->
    <!-- CSS INCLUDE -->
    @*<link rel="stylesheet" type="text/css" id="theme" href="~/css/theme-dark.css" />*@
    <link rel="stylesheet" type="text/css" id="theme" href="~/css/theme-forest-head-light.css" />
</head>
<body>
    <div class="login-container">

        <div class="login-box animated fadeInDown">
            <div class="login-logo"></div>

            <div class="login-body">
                <div class="login-title" style="text-align: center"><strong>Hoşgeldiniz</strong>, Kullanıcı bilgileriniz</div>
                <div id="girisKontrol">
                    <form action="@Url.Action("Giris", "Kontrol", new { area = "" })" class="form-horizontal" method="post">

                        <div class="form-group">
                            <div class="col-md-12">

                                <div class="col-md-4">
                                    <a href="#" class="friend">
                                        <img id="Resim" style="width: 90px; height: 81px;" src="~/DocumentFiles/Personel/RYok.jpg" />
                                        <span style="color: white; margin-left: 27px;" id="Isim">Resim</span>
                                    </a>
                                </div>
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-6">
                                    <video id="video" width="130" height="100" autoplay></video>
                                    <canvas id="canvas" width="320" height="240" style="display: none"></canvas>
                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="text" class="form-control" placeholder="Kullanıcı Adı" name="userName" id="userName" autocomplete="off" />

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="password" class="form-control" placeholder="Şifre" name="password" id="password" autocomplete="off" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <table>
                                    <tr>
                                        <td>
                                            <a href="@Url.Action("Giris", "Kontrol")">
                                                <img alt="Captcha" src="@Url.Action("CaptchaImage", "Kontrol")" style="" height="37" />&nbsp;&nbsp;
                                            </a>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" id="Secure" style="width: 65px" name="Secure" placeholder="Sonuç">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" style="color: white; margin-top: 10px">
                                            <input id="cbSartlar" type="checkbox" /><a href="../Sinav_kurallari.pdf" style="color: turquoise; font-weight: bold" target="_blank">Türkçe</a> ve <a href="../Sinav_kurallari_eng.pdf" style="color: turquoise; font-weight: bold" target="_blank">İngilizce</a> Kullanım şartlarını okudum ve kabul ettim.<br />
                                            <a data-toggle="modal" data-target="#modal_no_footer" id="girisvideo" style="color: red; font-weight: bold; margin-left:110px; cursor:pointer">Kullanım kılavuzu video</a>
                                        </td>
                                    </tr>
                                </table>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">
                                <a href="#" class="btn btn-link mb-control" data-box="#message-box-default">Şifrenizi mi unuttunuz?</a>
                            </div>
                            <div class="col-md-6">
                                <input class="btn btn-success btn-block" type="button" onclick="SubmitControl();" value="Giriş" id="girisbtn" />
                            </div>
                        </div>
                    </form>
                </div>
                <div id="hata" style="display: none; font-size: 20px; color: white;">
                    <div class="alert alert-danger" role="alert">
                        <strong>Sistem sadece OPERA veya CROME Browser ile kullanılmaktadır!!!</strong>
                    </div>

                </div>
            </div>
            <div class="login-footer">
                <div class="pull-left">
                    &copy; 2015 Haveak

                </div>
            </div>
        </div>

    </div>
    <button type="button" id="silme" class="btn btn-danger mb-control" data-box="#message-box-sound-2" style="visibility: hidden"></button>
    <button type="button" id="kamerayok" class="btn btn-danger mb-control" data-box="#message-box-sound-3" style="visibility: hidden"></button>
    <button type="button" id="secimyap" class="btn btn-danger mb-control" data-box="#message-box-sound-4" style="visibility: hidden"></button>
    

    <div class="message-box message-box-danger animated fadeIn" data-sound="fail" id="message-box-sound-2">
        <div class="mb-container">
            <div class="mb-middle">
                <div class="mb-title"><span class="fa fa-times"></span>Dikkat!</div>
                <div class="mb-content">
                    <p>Kullanıcı adı bilgisi bulunamadı!</p>
                </div>
                <div class="mb-footer">
                    <button class="btn btn-default btn-lg pull-right mb-control-close">Kapat</button>
                </div>
            </div>
        </div>
    </div>

    <div class="message-box message-box-danger animated fadeIn" data-sound="fail" id="message-box-sound-3">
        <div class="mb-container">
            <div class="mb-middle">
                <div class="mb-title"><span class="fa fa-times"></span>Dikkat!</div>
                <div class="mb-content">
                    <p style="font-weight:bold; font-size:20px;">Bilgisayarınızda Web Cam Algılanamadı! Sisteme erişim sağlayamazsınız. Lütfen WEB CAM ı aktif ediniz yada Web Cam'ı aktif olan bilgisayara geçiniz</p>
                </div>
                <div class="mb-footer">
                    <button class="btn btn-default btn-lg pull-right mb-control-close" onclick="location.reload();">Kapat</button>
                </div>
            </div>
        </div>
    </div>

    <div class="message-box message-box-danger animated fadeIn" data-sound="fail" id="message-box-sound-4">
        <div class="mb-container">
            <div class="mb-middle">
                <div class="mb-title"><span class="fa fa-times"></span>Dikkat!</div>
                <div class="mb-content">
                    <p style="font-weight:bold; font-size:20px;">Lütfen kullanım şartlarını okuyunuz!</p>
                </div>
                <div class="mb-footer">
                    <button class="btn btn-default btn-lg pull-right mb-control-close" onclick="location.reload();">Kapat</button>
                </div>
            </div>
        </div>
    </div>

    <div class="message-box animated fadeIn" id="message-box-default">
        <div class="mb-container">
            <div class="mb-middle">
                <div class="mb-title"><span class="fa fa-globe"></span>İletişim <strong>Mail Adresiniz</strong></div>
                <div class="mb-content">
                    <input type="text" class="form-control" id="MailAdresi" placeholder="E-Posta Adresi" />
                </div>
                <div class="mb-footer">
                    <button class="btn btn-success" onclick="SifreGonder();">Gönder</button>
                    <button id="iptalbt" class="btn btn-primary btn-lg pull-right mb-control-close">İptal</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="modal_no_footer" tabindex="-1" role="dialog" aria-labelledby="defModalHead" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    @* <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Kapat</span></button>*@
                    <h4 class="modal-title" id="defModalHead">Ünite Video</h4>
                </div>
                <div class="modal-body">                   
                    <video id="videoplayer" width="100%" autobuffer="autobuffer" controls="controls" controlsList="nodownload">
                        <source src="~/DocumentFiles/videos/webcambio.mp4" type='video/mp4; codecs="avc1.4D401E, mp4a.40.2"'>
                        <source src="~/DocumentFiles/videos/webcambio.mp4" type="video/webm" />
                        <source src="~/DocumentFiles/videos/webcambio.mp4" type="video/ogg" />
                        <source src="~/DocumentFiles/videos/webcambio.mp4" type="video/mpeg" />
                        <source src="~/DocumentFiles/videos/webcambio.mp4" type="video/mp4; codecs='avc1.42E01E, mp4a.40.2'">
                        <source src="~/DocumentFiles/videos/webcambio.mp4" type="video/quicktime" />
                        <source src="~/DocumentFiles/videos/webcambio.mp4" type="video/x-ms-wmv" />
                        <source src="~/DocumentFiles/videos/webcambio.mp4" type="video/m4v" />
                        <source src="~/DocumentFiles/videos/webcambio.mp4" type="video/3gpp" />
                    </video>

                    <button type="button" class="btn btn-default" data-dismiss="modal">Video Gizle</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="~/js/plugins/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/plugins/jquery/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/js/plugins/bootstrap/bootstrap.min.js"></script>
  
    <script type="text/javascript" src="~/js/plugins.js"></script>
    <script type="text/javascript" src="~/js/actions.js"></script>
</body>
</html>

<script>

    $(function () {
        
        var localcontrol = location.protocol;
        //if (location.protocol != 'https:') {
        //    location.href = 'https:' + window.location.href.substring(window.location.protocol.length);
        //}

            var video = document.getElementById("video");

            if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {                
                navigator.mediaDevices.getUserMedia({
                    video: { width: 1280, height: 720 },
                    audio: false
                }).then(function (stream) {
                    video.srcObject = stream;
                    video.play();
                },
                function (error) {
                    $('#girisbtn').removeAttr("onclick");
                    $('#girisbtn').attr('style', 'display:none');
                    $('#kamerayok').click();
                });
        }
    });



     function GetCaptureControl()
       {
           var video = document.getElementById("video");
           var canvas = document.getElementById("canvas");
           var context = canvas.getContext("2d");
           
           context.drawImage(video, 0, 0, 320, 240);
           UploadPic();
    }

    function UploadPic() {
        var kadi = $('#userName').val();
        var sifre = $('#password').val();
        var Pic = document.getElementById("canvas").toDataURL("image/jpg");
        Pic = Pic.replace(/^data:image\/(png|jpg);base64,/, "");
        $.ajax({
            url: '@Url.Action("ImageCapture", "Kontrol", new { area = "" })',
            async: false,
            type: 'POST',
            data: JSON.stringify({ "imagePath": Pic, "userName": kadi, "password": sifre }),
            dataType: 'json',
            contentType: 'application/json',
            success: function (msg) {
            }
        });
    }

    $(document).keydown(function (event) {
        if (event.keyCode == 123) {
            return false;
        }
        else if (event.ctrlKey && event.shiftKey && event.keyCode == 73) {
            return false;  //Prevent from ctrl+shift+i
        }
    });
    $(document).on("contextmenu", function (e) {
        e.preventDefault();
    });
    //$(function () {
    //    var isOpera = !!window.opera || navigator.userAgent.indexOf(' OPR/') >= 0;
    //    var isChrome = !!window.chrome && !isOpera;
    //    if (!isOpera && !isChrome) {
    //        $('#girisKontrol').attr('style', 'display:none');
    //        $('#hata').attr('style', 'display:block');
    //    }



    //    debugger;
    //    //var adres = document.URL;
    //    //var defaultAdres = "http://www.tur-haveak.com/Kontrol/Giris";
    //    //if (adres == defaultAdres) {
    //    //    window.location.href = 'http://tur-haveak.com/Index.html';
    //    //}
    //});

    $(document).on("change", "#userName", function () {
        ResimGetir();
    });

    function ResimGetir() {
        var kadi = $('#userName').val();
        $.get("@Url.Action("ResimGetir", "Kontrol", new { area = "" })", { user: kadi }, function (result) {
            $('#Resim').attr('src', result.Resim);
            $('#Isim').html(result.Adi + " " + result.Soyadi);
        });
    }


    function SubmitControl() {
        if (!document.getElementById('cbSartlar').checked) {
            $('#secimyap').click();          
            return;
        }
        var kadi = $('#userName').val();
        var sifre = $('#password').val();
        var form_data = new FormData();
        form_data.append('userName', kadi)
        form_data.append('password', sifre)
        $.ajax({
            url: '@Url.Action("SifreKontrol", "Kontrol", new { area = "" })',
            type: 'POST',
            contentType: false,
            cache: false,
            data: form_data,
            processData: false,
            async: false,
            success: function (data) {
                if (!data) {
                    $('#userName').val('');
                    $('#password').val('');
                    $('#silme').click();
                }
                else {
                    GetCaptureControl();
                    $('form').submit();                   
                }
            }
        });
    }

    function SifreGonder() {
        var kadi = $('#MailAdresi').val();
        var form_data = new FormData();
        form_data.append('adress', kadi)
        $.ajax({
            url: '@Url.Action("SendMail", "Kontrol", new { area = "" })',
            type: 'POST',
            contentType: false,
            cache: false,
            data: form_data,
            processData: false,
            async: false,
            success: function (xx) {
                
                $('#iptalbt').click();
                alert("Kullanıcı bilginiz mail adresinize başarı ile gönderilmiştir.");
            }
        });
    }

</script>

