﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/PANEL/Views/Shared/_LPanel.cshtml";
    ViewBag.Sayfa = "AnaSayfa";
    var sinavlar = (List<string>)ViewBag.Sinavlar;
    int kalanlar = sinavlar.Where(t => t == "KALDI").Count();
    int gecenler = sinavlar.Where(t => t == "GEÇTİ").Count();

    var sorular = (List<Haveak_Pro.Areas.PANEL.Controllers.SinavDurum>)ViewBag.Sorular;
    string basliklar = "";
    string soruSayilar = "";
    foreach (var item in sorular.Select((x, y) => new { Index = y, Data = x }))
    {
        basliklar += item.Data.Baslik + " (" + item.Data.sinavRef + ") ";
        soruSayilar += item.Data.sinavRef;
        if (item.Index < sorular.Count - 1)
        {
            basliklar += ",";
            soruSayilar += ",";
        }
    }

    //int astro = (int)ViewBag.Astro;
    //int hieman = (int)ViewBag.Hieman;
    //int sbagaj = (int)ViewBag.SBagaj;
    //int madde = (int)ViewBag.Madde;
    //int tmadde = (int)ViewBag.TMaddeler;

    var tumKullanicilar = (int)ViewBag.TumKullanici;
    var onlineUsers = (int)HttpContext.Current.Application["OnlineZiyaretci"];
    var aktifUyeler = (List<Kullanici>)ViewBag.AktifUyeler;
    string uye = string.Empty;
}
@using Haveak_Pro.Models;
 <script type="text/javascript" src="~/js/plugins/jquery/jquery.min.js"></script>
@*<script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
<script src="~/signalr/hubs" type="text/javascript"></script>
<script>
    $(function () {
        // Reference the auto-generated proxy for the hub.  
        var userActivity = $.connection.userActivityHub;

        // Create a function that the hub can call back to display messages.
        userActivity.client.updateUsersOnlineCount = function (count) {
            // Add the message to the page. 
            $('#usersCount').text(count);
        };

        $.connection.hub.start();
    });
</script>*@
<!-- PAGE TITLE -->
<div class="page-title">
    <h2><span class="fa fa-arrow-circle-o-left"></span>Durum İzleme</h2>
</div>
<!-- END PAGE TITLE -->

<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">

    <div class="row">

        <div class="col-md-12">

            <!-- START SPARKLINE CHARTS -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Raporlar</h3>
                </div>
                <div class="block-content">
                    <table class="table">
                        <tr>
                            <td width="100"><strong>Sınav Başarı Durum</strong></td>
                            <td><span class="sparkline" sparktype="pie" sparkwidth="50" sparkheight="50">@gecenler,@kalanlar</span></td>
                            <td>Girilen Sınavlarda Öğrencilerin Başarı durum ortalaması. (<label style="color: blue"> Mavi</label>:Geçti /
                                <label style="color: maroon">Kırmızı</label>:Kaldı)</td>
                        </tr>
                        <tr>
                            <td><strong>Soru Sayı</strong></td>
                            <td><span class="sparkline" sparktype="pie" sparkwidth="50" sparkheight="50">@soruSayilar</span></td>
                            <td>@basliklar Soru sayıları. </td>
                        </tr>                       
                        <tr>
                            <td width="100"><strong>Kullanıcı Durum</strong></td>
                            <td><span class="sparkline" sparktype="pie" sparkwidth="50" sparkheight="50">@onlineUsers,@tumKullanicilar</span></td>
                            <td>Sistemde (Aktif / TümKullanicilar) kullanıcı sayısı.
                                <div id="usersCount"></div>
                            </td>
                        </tr>
                        <tr>
                            <td width="100"><strong>Aktif Üyeler :</strong></td>
                            <td colspan="2">                                
                                @foreach (var item in aktifUyeler)
                                {
                                   uye += item.Personel.Adi + " " + item.Personel.Soyadi + ",";                                                                 
                                }
                                @{ 
                                    uye = uye.Substring(0, uye.Length - 1);
                                }
                                <label>@uye</label>     
                            </td>
                        </tr>
                    </table>


                </div>
            </div>
            <!-- END SPARKLINE CHARTS -->

        </div>

    </div>

</div>
<!-- END PAGE CONTENT WRAPPER -->
