﻿@model List<Personel_Sinavlar>
@using Haveak_Pro.Models

<link rel="stylesheet" type="text/css" href="~/assets/uniform/css/uniform.default.css" />
<table class="table table-striped table-bordered" id="sample_1">
    <thead>
        <tr>
            <th style="width: 8px;">
                @*<input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" />*@</th>
            <th>Sıra</th>
            <th class="hidden-phone">Sınav No</th>
            <th class="hidden-phone">Personel</th>
            <th class="hidden-phone">Sonuclar</th>
            <th class="hidden-phone">Genel Notlar</th>
            <th class="hidden-phone">Netice</th>
            <th class="hidden-phone">Sınava</th>
            <th class="hidden-phone">Bidirim</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Select((x, i) => new { Index = i, Data = x }))
        {                                       
            <tr class="odd gradeX">
                <td>
                    @if (item.Data.Durum == "AÇIKLANMADI")
                    {
                        <input type="checkbox" class="checkboxes" value="1" />
                    }
                </td>
                <td>@(item.Index + 1)
                    <input type="hidden" id="PSinav_@item.Data.ID" value="@item.Data.ID" />
                </td>
                <td>@item.Data.Sinavlar.SinavNo</td>
                <td>
                    @item.Data.Sinif_Ogrenci.Personel.Adi @item.Data.Sinif_Ogrenci.Personel.Soyadi
                </td>
                <td class="hidden-phone">
                    <table>
                        <tr>
                            <td>Doğru Sayısı</td>
                            <td>Yanlış Sayısı</td>
                            <td>Boş</td>
                        </tr>
                        <tr>
                            <td>@item.Data.DogruSayisiTeorik</td>
                            <td>@item.Data.YanlisSayisiTeorik</td>
                            <td>@item.Data.TeorikBos</td>
                        </tr>
                    </table>
                </td>
                <td class="center hidden-phone">
                    <table>
                        <tr>
                            <td>Sınav Notu</td>
                        </tr>
                        <tr>
                            <td>@item.Data.SinavNotuTeorik</td>
                        </tr>

                    </table>
                </td>
                <td class="hidden-phone">
                    @if (item.Data.Durum == "KALDI")
                    {
                        <span class="label label-important">@item.Data.Durum</span> 
                    }
                    else if (item.Data.Durum == "GEÇTİ")
                    {
                        <span class="label label-success">@item.Data.Durum</span>
                    }
                    else
                    {
                        <span class="label label-info">@item.Data.Durum</span>
                    }
                </td>
                <td>
                    @{
                    string Durumu = "KATILMADI!";
                    string isaret = "";
                    if (item.Data.Basladi == 1)
                    {
                        Durumu = "KATILDI";
                        isaret = "-inverse";
                    }                            
                    }
                    <span class="label label@(isaret)">@Durumu</span>

                </td>
                <td>
                    @Html.CheckBox("SinavAciklama", item.Data.SinavAciklama, new { id = "SinavAciklama" + (item.Index + 1) })
                </td>
            </tr>										     
        }
    </tbody>
</table>
<br />
<br />
<button type="button" class="btn red" onclick="SinavDegerlendirme()">Değerlendirme İşlemi Başlat</button>
<button type="button" class="btn black" onclick="DuyuruGunder()">Sınav Sonucu Bildir</button>


<button type="button" id="uyari" class="btn btn-warning mb-control" data-box="#message-box-warning" style="visibility: hidden"></button>
<button type="button" id="onay" class="btn btn-info mb-control" data-box="#message-box-info" style="visibility: hidden"></button>
<button type="button" id="hata" class="btn btn-danger mb-control" data-box="#message-box-sound-2" style="visibility: hidden"></button>

<div class="message-box message-box-warning animated fadeIn" id="message-box-warning">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-warning"></span>Dikkat</div>
            <div class="mb-content">
                <p>Lütfen Personel Seçiniz!</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close">Kapat</button>
            </div>
        </div>
    </div>
</div>
<div class="message-box message-box-info animated fadeIn" id="message-box-info">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-info"></span>İşlem Onayı</div>
            <div class="mb-content">
                <p>Sınav Değerlemesi yapılan Sonuçlar, Personellere bildirilmiştir.</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close" onclick="Refresh();">Kapat</button>
            </div>
        </div>
    </div>
</div>
<div class="message-box message-box-danger animated fadeIn" data-sound="fail" id="message-box-sound-2">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-times"></span>Dikkat!</div>
            <div class="mb-content">
                <p>İşlem sırasında bir hata meydana geldi tekrar deneyiniz.!!!)</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-danger btn-lg pull-right mb-control-close" onclick="Refresh();">Evet</button>
                <button class="btn btn-default btn-lg pull-right mb-control-close">Kapat</button>
            </div>
        </div>
    </div>
</div>


<script src="~/assets/js/jquery-1.8.3.min.js"></script>
<script>


    function SinavDegerlendirme() {

        var sayilar = new Array();
        var index = 0;
        $('#sample_1 > tbody > tr').each(function (ix, trx) {
            var seciliPersonel = $(trx).find("td").eq(0).find("input").is(":checked");
            if (seciliPersonel) {
                var pId = $(trx).find("td").eq(1).find("input").val();
                sayilar[index] = pId;
                index++;
            }
        });

        if (index == 0) {
            $('#uyari').click();
            return;
        }

        $.ajax({
            url: "/PANEL/SinavIslemler/SinavSonuclandirma",
            data: { 'postData': sayilar },
            dataType: "json",
            traditional: true,
            contentType: 'application/json; charset=utf-8',
            success: function (result) {
                if (result) {
                    window.location.href = '/Panel/SinavIslemler/SinavCevaplama';
                }

            }
        });
    }

    function DuyuruGunder() {
        var durum = confirm("Sınav Sonuçları Personellere bildirilecektir! Eminmisiniz!");
        if (durum == true) {
            $.ajax({
                url: "/Panel/SinavIslemler/DuyuruGonder",
                success: function (result) {
                    if (result == "Ok") {
                        $('#onay').click();
                    }
                    else {
                        $('#hata').click();
                    }
                }
            });
        }
    }


    function Refresh() {
        window.location.href = '@Url.Action("SinavCevaplama", "SinavIslemler", new { area = "PANEL" })';
    }

</script>
