﻿@model List<Personel_Sinavlar>


@using Haveak_Pro.Models;

@if (Model.Count > 0)
{
    <table id="SinavPersoneller" class="table table-bordered datatable">
        <thead>
            <tr>
                <th></th>              
                <th>Sıra</th>
                <th class="hidden-phone">Sınav No</th>
                <th class="hidden-phone">Firma</th>
                <th class="hidden-phone">Personel</th>
                <th class="hidden-phone">Sınav Tarihi</th>
                <th class="hidden-phone">Başlama Saati</th>
                <th class="hidden-phone">Bitiş Saati</th>
                <th class="hidden-phone">Sonuclar</th>
                <th class="hidden-phone">Genel Notlar</th>
                <th class="hidden-phone">Netice</th>
                <th class="hidden-phone">Sınava</th>
                <th class="hidden-phone">Sinav Resim</th>
                <th class="hidden-phone">Kontrol</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Select((x, i) => new { Index = i, Data = x }))
            {
                <tr>
                    <td>
                        @if (item.Data.Durum == "AÇIKLANMADI")
                        {
                            <input type="checkbox" class="checkboxes" value="1" />
                        }
                    </td>
                    <td>
                        @(item.Index + 1)
                    <input type="hidden" id="PSinav_@item.Data.ID" value="@item.Data.ID" />
                </td>
                <td>@item.Data.Sinavlar.SinavNo</td>
                <td>
                    @item.Data.Sinif_Ogrenci.Personel.Firmalar.FirmaAdi
                </td>
                <td>
                    @item.Data.Sinif_Ogrenci.Personel.Adi @item.Data.Sinif_Ogrenci.Personel.Soyadi
                </td>
                <td>@item.Data.SinavTarihi.Value.ToLongDateString()</td>
                <td>@item.Data.BaslamaSaati</td>
                <td>@item.Data.BitisSaati</td>
                <td>
                    <table class="table table-bordered">
                        <tr>
                            <td>Doğru Sayısı</td>
                            <td>Yanlış Sayısı</td>
                            <td>Boş</td>
                        </tr>
                        <tr style="font-weight: bold">
                            <td>@item.Data.DogruSayisiTeorik</td>
                            <td>@item.Data.YanlisSayisiTeorik</td>
                            <td>@item.Data.TeorikBos</td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table class="table table-bordered">
                        <tr>
                            <td>Sınav Notu</td>
                        </tr>
                        <tr style="font-weight: bold">
                            <td>@item.Data.SinavNotuTeorik</td>
                        </tr>

                    </table>
                </td>
                <td>
                    @if (item.Data.Durum == "KALDI")
                    {
                        <span class="label label-danger">@item.Data.Durum </span>
                    }
                    else if (item.Data.Durum == "GEÇTİ")
                    {
                        <span class="label label-success">@item.Data.Durum </span>
                    }
                    else
                    {
                        <span class="label label-info">@item.Data.Durum </span>
                    }
                </td>
                <td>
                    @{
                        string Durumu = "KATILMADI!";
                        string isaret = "-default";
                        if (item.Data.Basladi == 1)
                        {
                            Durumu = "KATILDI";
                            isaret = "-primary";
                        }
                    }
                    <span class="label label@(isaret)">@Durumu </span>

                </td>
                <td>
                    @if (item.Data.KlasorYolu == null)
                    {
                        <b>Resim Yok!</b>
                    }
                    else
                    {
                        <i>Resim Var.</i>
                    }

                </td>
                <td>
                    @if (item.Data.Durum != "AÇIKLANMADI")
                    {
                        <a href="/PANEL/SinavIslemler/SinavDetay/@item.Data.ID" class="btn btn-success" target="_blank">Çıktı</a><br />
                        if (item.Data.Durum == "KALDI")
                        {
                            <input type="button" class="btn btn-warning" onclick="SinavTekrarDegerleme('@item.Data.ID');" value="Sonuç Değerlendir" />
                        }

                    }
                    else
                    {
                        <input type="button" class="btn btn-warning" onclick="SinavTekrarDegerleme('@item.Data.ID');" value="Sonuç Değerlendir" />                      
                    }
                    @if (item.Data.Durum == "GEÇTİ")
                    {
                        <br />
                        <input type="button" class="btn btn-danger" onclick="DuyuruGonder('@item.Data.ID');" value="Sınav Sonucu Bildir" />
                    }
                </td>
            </tr>
                        }
        </tbody>
    </table>
                        }
                        else
                        {
                            <div id="personeller" class="panel-body">
                                <div class="alert alert-danger" role="alert">
                                    <strong>KAYIT BULUNAMADI</strong> Aranılan kritere ait bilgi bulunamadı!
                                </div>
                            </div>
                        }

<br />
<br />


<script>
    function SinavTekrarDegerleme(idx) {          
            $.ajax({
                url: "/PANEL/SinavIslemler/SinavSonuclandirmaTekrar",
                data: { 'id': idx },
                async: false,
                success: function (result) {
                    
                    alert("Sınav değerlendirme işlemi başarıyla gerçekleşti");
                },
                error: function (hata) {
                    alert(hata.responseText);
                }
            });
    }
</script>


