﻿@model List<SinavCevaplar>
@{
    ViewBag.Title = "SinavDetay";
    Layout = "~/Areas/PANEL/Views/Shared/_LPanel.cshtml";
    Heas_UzakEntities entity = new Heas_UzakEntities();
    int indexTeo = 0;
    string klasorYol = Model.Select(e => e.Personel_Sinavlar.KlasorYolu).FirstOrDefault();
    int sinavRef = Model.Select(e => e.Personel_Sinavlar_Ref).FirstOrDefault();
    string tcno = Model.Select(r => r.Personel_Sinavlar.Sinif_Ogrenci.Personel.TCNo).FirstOrDefault();
    List<ResultDetail> sonuc = ResimKontrolDogrulama.BenzerlikOranlar(klasorYol, tcno);
    string mapp = Server.MapPath("~/DocumentFiles/SinavResim/" + klasorYol);
    string[] images = Directory.GetFiles(mapp, "*.jpg");
    string anaresim = images.Where(r => r.Contains(tcno)).FirstOrDefault();
    string egitim1 = string.Empty;
    string egitim2 = string.Empty;
    string egitim3 = string.Empty;
    try
    {
        egitim1 = images.Where(r => r.Contains("1.jpg")).FirstOrDefault();
        egitim2 = images.Where(r => r.Contains("2.jpg")).FirstOrDefault();
        egitim3 = images.Where(r => r.Contains("3.jpg")).FirstOrDefault();
    }
    catch
    {

    }
}
@using Haveak_Pro.Models;
@using Haveak_Pro.Areas.SINAV.Models;
<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home", new { area = "PANEL" })">Panel Giriş</a></li>
    <li class="active">SINAV CEVAPLAR</li>
</ul>
<!-- END BREADCRUMB -->
<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">

    <div class="row">
        <div class="col-md-12">
            @if (Model.Count > 0)
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>TEORİK SORULAR</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>

                            <td>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Sıra</th>
                                            <th>Soru</th>
                                            <th>Doğru Şık</th>
                                            <th>Cevap</th>
                                            <th>Sonuç</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Where(r => r.Sinav_Sorular.SinavTipi_Ref == (int)EnumSinav.SinavTipi.Teorik))
                                        {
                                            indexTeo++;
                                            <tr>
                                                <td>@indexTeo</td>
                                                <td>
                                                    @item.Sinav_Sorular.UniteSorular.Soru
                                                </td>
                                                <td>
                                                    @item.Sinav_Sorular.UniteSorular.SoruSiklaris.Where(t => t.DogruSecenek == true && t.IsActive == true && t.IsDelete == false).Select(e => e.SoruSikki).FirstOrDefault()<br />
                                                    "@item.Sinav_Sorular.UniteSorular.SoruSiklaris.Where(t => t.DogruSecenek == true && t.IsActive == true && t.IsDelete == false).Select(e => e.CevapIcerik).FirstOrDefault()"
                                                </td>
                                                <td>
                                                    @entity.SoruSiklaris.Where(t => t.ID == item.GirilenCevap).Select(r => r.SoruSikki).FirstOrDefault()<br />
                                                    "@entity.SoruSiklaris.Where(t => t.ID == item.GirilenCevap).Select(r => r.CevapIcerik).FirstOrDefault()"
                                                </td>
                                                <td>
                                                    <span class="label label-@(item.Netice == true ? "success" : "danger")">
                                                        @(item.Netice == true ? "Doğru" : item.Netice == false ? "Yanlış" : "YOK")
                                                    </span>
                                                </td>
                                            </tr>
                                        }
                                        @{

                                            //string egitimResim = Server.MapPath("~/DocumentFiles/SinavResim/" + tcno);
                                            if (Directory.Exists(mapp))
                                            {
                                                <tr>
                                                    <td colspan="5">
                                                        <div class="row">

                                                            <div class="panel panel-default">
                                                                <div class="panel-title">
                                                                    <h3 class="panel-title">Sınav Kontrol ve Doğrulama</h3>
                                                                </div>
                                                                <div class="panel-body">
                                                                    <div class="col-md-12">
                                                                        <div class="col-md-3">
                                                                            @{
                                                                                var imgana = new FileInfo(anaresim);
                                                                            }
                                                                            <img src="@Url.Content("~/DocumentFiles/SinavResim/" + klasorYol +"/" + imgana.Name)" title="" style="width:125px" /><br />
                                                                            <label>
                                                                                Ana Kontrol Resim
                                                                            </label>
                                                                        </div>
                                                                        @if (!string.IsNullOrEmpty(egitim1))
                                                                        {
                                                                            <div class="col-md-3">
                                                                                @{
                                                                                    FileInfo imgegitim1 = new FileInfo(egitim1);
                                                                                }
                                                                                <img src="@Url.Content("~/DocumentFiles/SinavResim/" + klasorYol +"/" + imgegitim1.Name)" title="" style="width:125px" /><br />
                                                                                <label>
                                                                                    Eğitim Resim
                                                                                </label>
                                                                            </div>
                                                                            <div class="col-md-3">
                                                                                @{
                                                                                    var imgegitim2 = new FileInfo(egitim2);
                                                                                }
                                                                                <img src="@Url.Content("~/DocumentFiles/SinavResim/" + klasorYol +"/" + imgegitim2.Name)" title="" style="width:125px" /><br />
                                                                                <label>
                                                                                    Eğitim Resim
                                                                                </label>
                                                                            </div>
                                                                            <div class="col-md-3">
                                                                                @{
                                                                                    var imgegitim3 = new FileInfo(egitim3);
                                                                                }
                                                                                <img src="@Url.Content("~/DocumentFiles/SinavResim/" + klasorYol +"/" + imgegitim3.Name)" title="" style="width:125px" /><br />
                                                                                <label>
                                                                                    Eğitim Resim
                                                                                </label>
                                                                            </div>
                                                                                    }


                                                                        @foreach (var imgPath in images)
                                                                        {
                                                                            string color = string.Empty;
                                                                            if (!imgPath.Contains(imgana.Name) && !imgPath.Contains("1.jpg") && !imgPath.Contains("2.jpg") && !imgPath.Contains("3.jpg"))
                                                                            {
                                                                                <div class="col-md-3">
                                                                                    @{
                                                                                        var img = new FileInfo(imgPath);
                                                                                        string title = img.Name.Split('-')[0];
                                                                                        <img src="@Url.Content(String.Format("~/DocumentFiles/SinavResim/" + klasorYol + "/{0}", img.Name))" title="@title" style="width:125px" /><br />
                                                                                        var kisiDogrulama = sonuc.Where(t => t.filename.Contains(img.Name)).Select(y => new { y.result, y.smilarity }).FirstOrDefault();
                                                                                        double oran = kisiDogrulama.smilarity * 100;
                                                                                        string islemsonuc = kisiDogrulama.result;
                                                                                        if (oran >= 60 && oran < 70)
                                                                                        {
                                                                                            color = "orange";
                                                                                            islemsonuc = kisiDogrulama.result + "-İnceleme gerekli";
                                                                                        }
                                                                                        else if (oran >= 70)
                                                                                        {
                                                                                            color = "darkblue";
                                                                                            islemsonuc = kisiDogrulama.result;
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            color = "red";
                                                                                            islemsonuc = "Kural İhlali";
                                                                                        }
                                                                                        <label style="color:@color">@islemsonuc (% @oran)</label>
                                                                                    }
                                                                                </div>
                                                                                            }
                                                                                        }
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                                                        }
                                        }
                                    </tbody>
                                </table>
                            </td>

                        </tr>
                    </tbody>
                </table>
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <div class="alert alert-danger" role="alert">
                                                                                                <strong>DUYURU</strong> Sınav sonucu henüz açıklanmadı!
                                                                                            </div>
                                                                                        }
        </div>
    </div>
</div>
<script>
    function KlasorSil(klasor) {
        $.get('@Url.Action("Capture_Delete", "SinavIslemler", new { area = "PANEL" })', { folder: klasor }, function (data) {
            SonucDetay('@sinavRef');
        });
    }
</script>


