﻿@{
    ViewBag.Title = "SinavCevaplama";
    Layout = "~/Areas/PANEL/Views/Shared/_LPanel.cshtml";
    var Sinavlar = (List<Sinavlar>)ViewBag.Sinavlar;
    var Firmalar = (List<Firmalar>)ViewBag.Firmalar;

}
@using Haveak_Pro.Models;

@*<script type='text/javascript' src='~/js/plugins/icheck/icheck.min.js'></script>*@
<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home", new { area = "PANEL" })">Panel Giriş</a></li>
    <li class="active">SINAV CEVAPLAR</li>
</ul>
<!-- END BREADCRUMB -->
<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">

    <div class="row">
        <div class="col-md-12">

            <form class="form-horizontal">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>SINAV CEVAPLANDIRMA İŞLEMLERİ </strong>Sınav cevaplama bildirme</h3>
                    </div>
                    <div class="panel-body">
                        <p>Sınavların cevaplandırıldığı ve Öğrencilere bildirimi yapıldığı yer.</p>
                    </div>
                    <div class="panel-body">


                        <div class="form-group">
                            <label class="col-md-1 col-xs-12 control-label">Firma Bilgi :</label>
                            <div class="col-md-2 col-xs-12">
                                <div class="input-group">
                                    <select class="form-control select" id="Firma_Ref" data-live-search="true">
                                        <option value="0">Firma Adı Seçiniz</option>
                                        <option value="-2" style="font-weight:bold">Tüm Firmalarda Ara</option>
                                        @foreach (var itemFirma in Firmalar)
                                        {
                                            <option value="@itemFirma.ID">@itemFirma.FirmaAdi</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <label class="col-md-1 col-xs-12 control-label">TCNO :</label>
                            <div class="col-md-1 col-xs-12">
                                <input id="tcno" type="text" onkeypress='return event.charCode>= 48 &&event.charCode<= 57' class="form-control" placeholder="TCNo" maxlength="11">
                            </div>

                            <label class="col-md-1 col-xs-12 control-label">PERSONEL :</label>
                            <div class="col-md-6 col-xs-12">
                                <div class="col-md-4">
                                    <label class="sr-only">Adı</label>
                                    <input id="Padi" type="text" class="form-control" placeholder="Adı" onkeyup="this.value = this.value.toUpperCase();">
                                </div>
                                <div class="col-md-4">
                                    <label class="sr-only">Soyadı</label>
                                    <input id="Psoyadi" class="form-control" type="text" placeholder="Soyadı" onkeyup="this.value = this.value.toUpperCase();">
                                </div>
                                <button type="button" class="btn btn-danger" onclick="SinavGetir();">Bul</button>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Sınavlar</h3>
                                @* <ul class="panel-controls">
                                        <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                                    </ul>*@
                            </div>
                            <div class="panel-body" id="sinavSonuc">
                                <div id="personeller" class="panel-body">
                                    <div class="alert alert-warning" role="alert">
                                        <strong>FİRMA PERSONEL BİLGİSİ SEÇİNİZ</strong> Sınav bilgisi görmek için yukarıdan seçim yapınız.
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    @*<div class="panel-footer" >
                            <button class="btn btn-default">Temizle</button>
                            <input type="button" class="btn btn-success" onclick="SinavDegerlendirme();" value="Değerlendirme İşlemi Başlat" />
                            @*<input type="button" id="KaydetBtn" class="btn btn-primary" value="Kaydet" onclick="Ekle();" />
                            <input type="button" id="GuncelleBtn" class="btn btn-danger" style="visibility: hidden" value="Güncelle" onclick="Guncelle();" />
                        </div>*@

                </div>
            </form>

        </div>
    </div>

</div>
<!-- END PAGE CONTENT WRAPPER -->

<button id="onay" class="btn btn-default" data-toggle="modal" data-target="#modal_no_head" style="visibility: hidden"></button>
<button id="onay2" class="btn btn-default" data-toggle="modal" data-target="#modal_no_head2" style="visibility: hidden"></button>
<button id="onay3" class="btn btn-default" data-toggle="modal" data-target="#modal_no_head3" style="visibility: hidden"></button>
@*<button id="uyari" class="btn btn-default" data-toggle="modal" data-target="#modal_basic" style="visibility: hidden"></button>*@
<div class="modal" id="modal_no_head" tabindex="-1" role="dialog" aria-labelledby="defModalHead" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h3>İşlem Onayı</h3>
                <p>Sınav Değerlendirme işlemi başarı ile gerçekleşti</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="Refresh2();">Tamam</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="modal_no_head2" tabindex="-1" role="dialog" aria-labelledby="defModalHead" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h3>İşlem Onayı</h3>
                <p>Geçti sonucu kart takip sistemine gönderilmiştir.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="Refresh2();">Tamam</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="modal_no_head3" tabindex="-1" role="dialog" aria-labelledby="defModalHead" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h3>Boş Personel</h3>
                <p>Lütfen Personel Seçiniz!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>

@*<div class="modal" id="modal_basic" tabindex="-1" role="dialog" aria-labelledby="defModalHead" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="defModalHead">Dikkat</h4>
                </div>
                <div class="modal-body">
                    Sınav Sonuçları Personellere bildirilecektir! Eminmisiniz!

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">İptal</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="DuyuruGunder();">Tamam</button>
                </div>
            </div>
        </div>
    </div>*@

@*<div class="modal" id="sonuc_cikti" tabindex="-1" role="dialog" aria-labelledby="largeModalHead" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="largeModalHead">Sınav Sonuç Duyurusu</h4>
                </div>
                <div class="modal-body" id="Cevaplar">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">Yükleniyor..</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                </div>
            </div>
        </div>
    </div>*@
@section Scripts{
    <script>
        function SinavGetir() {
            var firmaRef = $('#Firma_Ref').val();
            if (firmaRef == "0") {
                var uyari = '<div class="alert alert-warning" role="alert"><strong>  Firma seç! </strong> Arama yapabilmeniz için Firma Bilgisi Seçiniz!</div >';
                $("#sinavSonuc").html(uyari);
                return;
            }
            var yukleniyor = '<div class="progress">' +
                '<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">Yükleniyor..</div>' +
                '</div>';
            $("#sinavSonuc").html(yukleniyor);
            let tcno = $('#tcno').val();
            let adi = $('#Padi').val();
            let soyadi = $('#Psoyadi').val();

            $.get('@Url.Action("_SinavCevapList", "SinavIslemler", new { area = "PANEL" })', { firmaRef: firmaRef, tcno:tcno, adi: adi, soyadi: soyadi }, function (data) {
                $("#sinavSonuc").html(data);
            });
        }



        function SinavDegerlendirme() {
            var sayilar = new Array();
            var index = 0;
            $('#SinavPersoneller > tbody > tr').each(function (ix, trx) {
                var seciliPersonel = $(trx).find("td").eq(0).find("input").is(":checked");
                if (seciliPersonel) {
                    var pId = $(trx).find("td").eq(1).find("input").val();
                    sayilar[index] = pId;
                    index++;
                }
            });
            if (index == 0) {
                $('#onay3').click();
                return;
            }
            $.ajax({
                url: "/Panel/SinavIslemler/SinavSonuclandirma",
                data: { 'postData': sayilar },
                traditional: true,
                success: function (result) {
                    if (result) {
                        $('#onay').click();
                    }

                }
            });
        }

        function DuyuruGonder(id) {
                        $.ajax({
                url: "/Panel/SinavIslemler/DuyuruGonder",
                data: { id: id },
                success: function (result) {
                    if (result) {
                        $('#onay2').click();
                    }
                }
            });
        }

        function Refresh() {
            window.location.href = '@Url.Action("SinavCevaplama", "SinavIslemler", new { area = "PANEL" })';
    }
        function Refresh2() {
            window.location.reload();
    }

    </script>
}

