﻿@model List<UniteSorular>
@{
    ViewBag.Title = "TanimliSorular";
    Layout = "~/Areas/PANEL/Views/Shared/_LPanel.cshtml";
    var uniteler = (List<Unite>)ViewBag.Uniteler;
    //Dictionary diclist = new Dictionary();
    //var kategori = diclist.SoruKategori();
    //Heas_UzakEntities data = new Heas_UzakEntities();
    var sinavTipi = (List<SinavTipi>)ViewBag.SinavTipi;
    int indexStip = (int)ViewBag.SinavTipDn;
    int index = 0;
}
@using Haveak_Pro.Models;
@using Haveak_Pro.Areas.PANEL.Models;



<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home", new { area = "PANEL" })">Panel Giriş</a></li>
    <li class="active">TANIMLI SORULAR</li>
</ul>
<!-- END BREADCRUMB -->

<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>TANIMLI SINAV SORU İŞLEMLERİ </strong>Güncelleme ve diğer işlemler</h3>
                    </div>
                    <div class="panel-body">
                        <p>Sınav için tanımlı sorular.</p>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-md-2 control-label">Soru Tipi</label>
                                <select id="SinavTipi_Ref" name="SinavTipi_Ref" class="form-control select" data-style="btn-success" onchange="UygulamaKateGet();">
                                    <option value="-1">KATEGORİ SEÇİN</option>
                                    <option value="0">TÜM SORULAR</option>
                                    @foreach (var item in sinavTipi)
                                    {
                                        if (item.ID == indexStip)
                                        {
                                        <option value="@item.ID" selected="selected">@item.Baslik</option>  
                                        }
                                        else
                                        {
                                        <option value="@item.ID">@item.Baslik</option> 
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">

                            <br />
                            <br />
                            @if (Model.Count > 0)
                            {
                          
                                <table id="sample_1" class="table datatable">
                                    <thead>
                                        <tr>
                                            <th>Sıra</th>                                          
                                            <th>Ünite</th>
                                            <th>Kategori</th>                                           
                                            <th style="width: 30%">Soru</th>
                                            <th>Şıklar</th>                                          
                                            <th>İşlem</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            index++;
                                            //string resimYolu = item.Data.SBagajlar.Resim == null ? "img/RYokBagaj.jpg" : item.Data.SBagajlar.Resim;                      
                                            <tr>
                                                <td>@index</td>                                              
                                                <td>@(item.Unite == null ? "" : item.Unite.UniteAdi)</td>
                                                <td>
                                                    @item.SinavTipi.Baslik
                                                </td>                                               
                                                <td style="width: 50px">@item.Soru</td>
                                                <td>
                                                    <table class="table table-bordered">
                                                        <tr>
                                                            <td>Şık</td>
                                                            <td>İçerik</td>
                                                            <td>Doğru Seçenek</td>
                                                        </tr>
                                                        @{                            
                                                        var list = item.SoruSiklaris.Where(t => t.UniteSorular_Ref == item.ID && t.IsActive == true).ToList();
                                                        foreach (var itemSoru in list)
                                                        {
                                                            string cls = "";
                                                            if (itemSoru.DogruSecenek)
                                                            {
                                                                cls = "danger";
                                                            }
                                                            <tr class="@cls">
                                                                <td>@itemSoru.SoruSikki</td>
                                                                <td>@itemSoru.CevapIcerik</td>
                                                                <td>@itemSoru.DogruSecenek</td>
                                                            </tr>  
                                                        } 
                                                        }
                                                    </table>
                                                </td>
                                           
                                                <td>
                                                    <a href="@Url.Action("SoruGuncelle", "SinavIslemler", new { area = "PANEL", id = item.ID })" class="btn btn-primary" onclick="Guncelle(@item.ID)">Güncelle</a>
                                                </td>
                                            </tr>										     
                                        }
                                    </tbody>
                                </table>
    
                            }
                            else
                            {
                                <div class="alert alert-warning" role="alert">
                                    <strong>Lütfen </strong>yukarıdaki seçenekten soru kategorisi seçiniz.
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
<script type="text/javascript" src="~/js/plugins/blueimp/jquery.blueimp-gallery.min.js"></script>
<script>
    document.getElementById('links').onclick = function (event) {
        event = event || window.event;
        var target = event.target || event.srcElement,
            link = target.src ? target.parentNode : target,
            options = {
                index: link, event: event, onclosed: function () {
                    setTimeout(function () {
                        $("body").css("overflow", "");
                    }, 200);
                }
            },
            links = this.getElementsByTagName('a');
        blueimp.Gallery(links, options);
    };
        </script>



<script type="text/javascript" src="~/js/plugins/jquery/jquery.min.js"></script>
<script>
    $(function () {
        $('#SinavTipi_Ref').on('change', function () {
            var id = $(this).find("option:selected").val();
            window.location.href = "@Url.Action("TanimliSorular", "SinavIslemler", new { area = "PANEL" })?soruTip=" + id;

        });
    });

</script>

