﻿@{
    ViewBag.Title = "YeniSoruTanimlama";
    Layout = "~/Areas/PANEL/Views/Shared/_LPanel.cshtml";
    Heas_UzakEntities entity = new Heas_UzakEntities();
    var uniteModuller = (List<UniteModul>)ViewBag.UniteModuller;

    var sinavTipi = (List<SinavTipi>)ViewBag.SinavTipi;
}
@using Haveak_Pro.Models;
@using Haveak_Pro.Areas.PANEL.Models;



<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home", new { area = "PANEL" })">Panel Giriş</a></li>
    <li class="active">YENİ SORU TANIMLAMA</li>
</ul>
<!-- END BREADCRUMB -->

<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">

    <div class="row">
        <div class="col-md-12">

            <form class="form-horizontal" action="@Url.Action("SoruKaydet", "SinavIslemler", new { area = "PANEL" })" method="post" enctype="multipart/form-data">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>YENİ SORU TANIMLAMA İŞLEMLERİ </strong>Güncelleme ve diğer işlemler</h3>
                    </div>
                    <div class="panel-body">
                        <p>Sınav ve Testlerde kullanılacak soru(lar) tanımlanan kısım.</p>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Sınav Soru Tipi</label>
                                    <div class="col-md-6">
                                        <select id="SinavTipi_Ref" name="SinavTipi_Ref" class="form-control select" data-style="btn-success" onchange="UygulamaKateGet();">
                                            <option value="0">Soru Tipi Seçiniz</option>
                                            @foreach (var item in sinavTipi)
                                            {
                                                <option value="@item.ID">@item.Baslik</option> 
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group" id="Unitesi">
                                    <label class="col-md-2 control-label">Ünitesi</label>
                                    <div class="col-md-10">
                                        <select id="Unite_Ref" name="Unite_Ref" class="form-control select" data-live-search="true">
                                            <option value="0">Ünite Seçiniz</option>
                                            @foreach (var itemUnitList in uniteModuller)
                                            {
                                                <optgroup label="@itemUnitList.Modul">
                                                    @{ var uniteListesi = entity.Unites.Where(r => r.IsActive == true && r.IsDelete == false).ToList();
                                                       foreach (var itemAlt in uniteListesi.Where(r => r.Modul_Ref == itemUnitList.ID && r.IsActive == true && r.IsDelete == false))
                                                       {
                                                        <option style="color:blue" value="@itemAlt.ID">@itemAlt.UniteAdi</option>                                          
                                                       }                                              
                                                    }
                                                </optgroup>
                                            }

                                        </select>
                                    </div>
                                </div>
                            @*    <div id="UygulamaKat" style="visibility: hidden">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Bagajlar</label>
                                        <div class="col-md-6">
                                            <select id="SBagajlar_Ref" class="form-control select" data-live-search="true">
                                                <option value="0">Sinav Soru Resmi Seçiniz</option>
                                                @foreach (var itemUnitList in sinavBagajKategori)
                                                {
                                                    string kisaltma = itemUnitList.Isim.Substring(0, 2).ToLower();
                                                    if (itemUnitList.SBagajlars.Where(t => t.IsActive == true && t.IsDelete == false).Count() > 0)
                                                    {
                                                    <optgroup label="@itemUnitList.Isim">
                                                        @foreach (var itemAlt in itemUnitList.SBagajlars.Where(t => t.IsActive == true && t.IsDelete == false))
                                                        {
                                                            <option style="color:blue;" value="@itemAlt.ID, @itemAlt.Resim">
                                                                @kisaltma - @itemAlt.Isim</option>                                          
                                                        }
                                                    </optgroup>
                                                    }
                                                }
                                            </select>
                                            <input type="hidden" id="SbgjRef" name="SBagajlarData" value="" />
                                        </div>
                                    </div>
                                    <div class="form-group" id="maddeGenel" style="visibility: hidden">
                                        <label class="col-md-2 control-label">Tehlikeli Maddeler</label>
                                        <div class="col-md-6">
                                            <select id="STM_Ref" class="form-control select" data-live-search="true">
                                                <option value="0">Tehlikeli Madde Resmi Seçiniz</option>
                                                @foreach (var itemUnitList in sinavTMKategori)
                                                {
                                                    if (itemUnitList.SBMaddeResimlers.Where(y => y.IsActive == true && y.IsDelete == false).Count() > 0)
                                                    {
                                                        int idxMadde = 0;
                                                    <optgroup label="@itemUnitList.Isim">

                                                        @foreach (var itemAlt in itemUnitList.SBMaddeResimlers.Where(t => t.IsActive == true && t.IsDelete == false))
                                                        {
                                                            idxMadde++;
                                                            <option style="color:blue" value="@itemAlt.ID, @itemAlt.Resim">@itemUnitList.Isim @idxMadde</option>                                          
                                                        }
                                                    </optgroup>    
                                                    }
                                                }
                                            </select>
                                            <input type="hidden" id="StmRef" name="STMData" value="" />

                                            <div class="panel panel-default push-up-20" id="dereceler" style="visibility: hidden">
                                                <div class="panel-heading ui-draggable-handle">
                                                    <h3 class="panel-title">Derecelendirme</h3>
                                                </div>
                                                <div class="panel-body">
                                                    <ul class="list-tags">
                                                        <li>
                                                            <input type="text" id="TMOlcek" name="TMOlcek" title="Ölçek" value="100" class="form-control" style="width: 70px" onkeyup="SizeControl();" /></li>
                                                        <li>
                                                            <input type="text" id="TMVektor" name="TMVektor" title="Vektör" value="0" class="form-control" style="width: 70px" onkeyup="RotateControl();" /></li>
                                                        <li>
                                                            <input type="text" id="TMSaydamlik" name="TMSaydamlik" title="Vektör" value="100" class="form-control" style="width: 70px" onkeyup="OpacityControl();" /></li>
                                                    </ul>
                                                    <input type="hidden" id="Pointerxx" value="" />
                                                    <input type="hidden" id="Pointeryy" value="" />
                                                </div>
                                            </div>

                                            <input id="TMResim" type="hidden" value="" />
                                        </div>
                                    </div>
                                    <br />
                                </div>*@
                                <br />
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Soru İçerik</label>
                                    <div class="col-md-10">
                                        <input type="text" id="Soru" name="Soru" placeholder="Soru" class="form-control" value="" />
                                    </div>
                                </div>
                                <div class="form-group" id="UstCevaplar">
                                    <label class="col-md-2 control-label">Soru Cevap Şıkları</label>
                                    <div class="col-md-10">
                                        <div class="input-group">
                                            <input id="CevapIcerik" type="text" class="form-control" placeholder="Cevap Şıkkı Girin" />
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button" onclick="EkleSoruSikki();">EKLE</button>
                                            </span>
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Cevaplar</label>
                                    <div class="col-md-10">
                                        <table id="Cevaplar" class="table" style="visibility: hidden; width: 100%">
                                            <thead>
                                                <tr>
                                                    <th>Şık</th>
                                                    <th style="width: 120%">Cevap İçerik</th>
                                                    <th>Doğru Cevap</th>
                                                    <th>İşlem</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <br />
                                <div class="form-group" id="altSorular" style="visibility: hidden">
                                    <div class="control-group">
                                        <label class="col-md-2 control-label">Soru Alt Şıkları varmı?</label>
                                        <div class="col-md-6">
                                            <input id="AltSik" name="AltSikKontrol" type="checkbox" class="icheckbox" />
                                            Ekle / İptal
                                      
                                        </div>
                                    </div>
                                </div>
                                <div id="altsiksorular" style="visibility: hidden">
                                    <div class="alert alert-error">
                                        <strong>Alt Şıklı Olan Soru Cevaplarını buraya Giriniz </strong>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Soru Alt Cevap Şıkları</label>
                                        <div class="col-md-10">
                                            <div class="input-group">
                                                <input id="AltCevapIcerik" type="text" class="form-control" placeholder="Cevap Şıkkı Girin" />
                                                <span class="input-group-btn">
                                                    <button class="btn btn-default" type="button" onclick="EkleAltSoruSikki();">EKLE</button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group" id="AltCvpGoster">
                                        <label class="col-md-2 control-label">Cevaplar</label>
                                        <div class="col-md-10">
                                            <table id="AltCevaplar" class="table" style="visibility: hidden">
                                                <thead>
                                                    <tr>
                                                        <th>Şık</th>
                                                        <th style="width: 70%">Cevap İçerik</th>
                                                        <th>Doğru Cevap</th>
                                                        <th>İşlem</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                             @*   <div id="UygResim" style="visibility: hidden">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="fileupload-new thumbnail" style="height: 620px;" id="AnaRsm">
                                                <img id="resimx" style="position: absolute; cursor: crosshair; width: 820px; height: 615px" src="~/DocumentFiles/Personel/RYok.jpg" />
                                               
                                                <input type="hidden" value="" id="Resim" name="Resim" />
                                                <input type="hidden" value="" id="Resyol" name="Resyol" />
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <span class="label label-danger" id="koordinatx"></span>
                                        <span class="label label-success" id="koordinaty"></span>
                                        <input id="xkrd" type="hidden" value="" />
                                        <input id="ykrd" type="hidden" value="" />
                                        <input id="xkrd2" name="XKordinat" type="hidden" value="" />
                                        <input id="ykrd2" name="YKordinat" type="hidden" value="" />
                                    </div>
                                </div>*@
                                <div class="form-group">
                                    <label class="col-md-2 control-label"></label>
                                    <div class="col-md-10">
                                        <button type="button" class="btn btn-danger btn-block" onclick="SoruKaydet();">Soru Kaydet</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>


<button type="button" id="uyari" class="btn btn-warning mb-control" data-box="#message-box-warning" style="visibility: hidden"></button>
<button type="button" id="onay" class="btn btn-info mb-control" data-box="#message-box-info" style="visibility: hidden"></button>
<button type="button" id="uyari2" class="btn btn-warning mb-control" data-box="#message-box-warning2" style="visibility: hidden"></button>
<button type="button" id="uyari3" class="btn btn-warning mb-control" data-box="#message-box-warning3" style="visibility: hidden"></button>
<button type="button" id="hata" class="btn btn-danger mb-control" data-box="#message-box-sound-2" style="visibility: hidden"></button>
<button type="button" id="uyari4" class="btn btn-warning mb-control" data-box="#message-box-warning4" style="visibility: hidden"></button>
<button type="button" id="uyari5" class="btn btn-warning mb-control" data-box="#message-box-warning5" style="visibility: hidden"></button>

<div class="message-box message-box-warning animated fadeIn" id="message-box-warning">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-warning"></span>Dikkat</div>
            <div class="mb-content">
                <p>Lütfen eksik yada hatalı bilgi bırakmayınız!</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close">Kapat</button>
            </div>
        </div>
    </div>
</div>
<div class="message-box message-box-warning animated fadeIn" id="message-box-warning5">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-warning"></span>Dikkat</div>
            <div class="mb-content">
                <p>Lütfen Tehlikeli Metarial seçiniz!</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close">Kapat</button>
            </div>
        </div>
    </div>
</div>
<div class="message-box message-box-info animated fadeIn" id="message-box-info">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-info"></span>İşlem Onayı</div>
            <div class="mb-content">
                <p>İşleminiz Başarı ile gerçekleşmiştir.</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close" onclick="Refresh();">Kapat</button>
            </div>
        </div>
    </div>
</div>
<div class="message-box message-box-warning animated fadeIn" id="message-box-warning2">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-warning"></span>Dikkat</div>
            <div class="mb-content">
                <p>Eklemek istediğiniz Soru Şıkkı mevcuttur!</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close">Kapat</button>
            </div>
        </div>
    </div>
</div>
<div class="message-box message-box-warning animated fadeIn" id="message-box-warning3">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-warning"></span>Dikkat</div>
            <div class="mb-content">
                <p>Soru şıkları en az 2 tane olmak zorundadır!!!</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close">Kapat</button>
            </div>
        </div>
    </div>
</div>
<div class="message-box message-box-danger animated fadeIn" data-sound="fail" id="message-box-sound-2">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-times"></span>Hata!</div>
            <div class="mb-content">
                <p>İşlem Sırasında bir hata oluştu Tekrar deneyiniz!</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-danger btn-lg pull-right mb-control-close" onclick="Sil();">Evet</button>
                <button class="btn btn-default btn-lg pull-right mb-control-close">Kapat</button>
            </div>
        </div>
    </div>
</div>
<div class="message-box message-box-warning animated fadeIn" id="message-box-warning4">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-warning"></span>Dikkat</div>
            <div class="mb-content">
                <p>Soru şıkları en fazla 2 tane olmak zorundadır!!!</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close">Kapat</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/js/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="~/js/plugins/jquery/jquery-ui.min.js"></script>
<script>

    $(function () {
      @*  STitiKontrol();
        function STitiKontrol()
        {
            
            var ckh = $('#SinavTipi_Ref').val();
            if (ckh == '@((int)Enumlar.SoruTipleri.UYGULAMA)') {
                GetKordinat();
            }
        }
        var wth = $('#pointerResim').width();
        var hgt = $('#pointerResim').height();
        $('#Pointerxx').val(wth);
        $('#Pointeryy').val(hgt);
        $('input[type=radio][name="UstSorular"]').change(function () {            
            var idx = $(this).val();
            CheckboxControl(idx);
        });*@

        //$('#SBagajlar_Ref').on('change', function () {
        //    var id = $(this).find("option:selected").val();
        //    if (id == "0") {
        //        $('#resimx').attr('src', '/DocumentFiles/Personel/RYok.jpg');
        //        $('#maddeGenel').attr('style', 'visibility:hidden');
        //        $('#resimx').unbind('mousemove');
        //        $('#koordinatx').text("");
        //        $('#koordinaty').text("");
        //        $('#xkrd').val('');
        //        $('#ykrd').val('');
        //        $('#UygResim').attr('style', 'visibility:hidden');
        //    }
        //    else {
        //        var id1 = id.split(',')[0];
        //        var id2 = id.split(',')[1].trim();
        //        $('#maddeGenel').attr('style', 'visibility:visible');
        //        $('#resimx').attr('src', '/' + id2 + '');
        //        $('#resimx').css('background-size', '100% 100%');
        //        $('#Resim').val(id2);
        //        $('#Resyol').val(id1);
        //        $('#UygResim').attr('style', 'visibility:visible');
        //        $('#SbgjRef').val(id1);
        //        GetKordinat();
        //    }
        //});

        $('input[type="checkbox"][name="AltSikKontrol"]').on('ifChanged', function () {
            var control = $(this).is(':checked')
            if (control) {
                $('#altsiksorular').attr('style', 'visibility:visible');
                $('#AltCevaplar').attr('style', 'visibility:hidden');
            }
            else {
                $('#altsiksorular').attr('style', 'visibility:hidden');
                jQuery('#AltCevaplar > tbody > tr').remove();
                $('#AltCevaplar').attr('style', 'visibility:visible');
            }
        });

        //$('#STM_Ref').on('change', function () {
        //    var id = $(this).find("option:selected").val();
        //    if (id != "0") {
        //        var id1 = id.split(',')[0];
        //        var id2 = id.split(',')[1].trim();
        //        $('#resimx').css('cursor', 'url(/' + id2 + '),auto');
        //        $('#TMResim').val(id2);
        //        $('#dereceler').attr('style', 'visibility:visible');
        //        $('#StmRef').val(id1);
        //    }
        //    else {
        //        $('#dereceler').attr('style', 'visibility:hidden');
        //    }
        //});

        //$('#resimx').click(function () {
        //    debugger
        //    var tmadde = $('#STM_Ref').val();
        //    if (tmadde == "0") {
        //        $('#uyari5').click();
        //        return;
        //    }

        //    $('#pointerResim').remove();
        //    var x = $('#xkrd').val();
        //    var y = $('#ykrd').val();
        //    var madde = $('#TMResim').val();
        //    var TMOlcekx = $('#TMOlcek').val();
        //    TMOlcekx = parseFloat(TMOlcekx.replace(',', '.'));
        //    var TMVektor = $('#TMVektor').val();
        //    TMVektor = parseFloat(TMVektor.replace(',', '.'));
        //    var TMSaydamlik = $('#TMSaydamlik').val();
        //    var offset = $("#resimx").offset();
        //    var xx = offset.left;
        //    var yy = offset.top;
        //    var xc = (parseInt(xx) + parseInt(x));
        //    var yc = (parseInt(yy) + parseInt(y));
        //    var relativeX = xc;
        //    var relativeY = yc;
        //    //var img = $('<img id="pointerResim" src="/' + madde + '" alt="Tıklandı" style="margin-left: ' + x + 'px; margin-top: ' + y + 'px; mix-blend-mode: multiply; -webkit-transform: rotate(' + TMVektor + 'deg); z-index:5" onclick="Deneme();" /> ')
        //    var img = $('<img id="pointerResim" src="/' + madde + '" alt="Tıklandı" style="mix-blend-mode: multiply; -webkit-transform: rotate(' + TMVektor + 'deg); width:' + TMOlcek + '%" />');
        //    $('#xkrd2').val('' + x + '');
        //    $('#ykrd2').val('' + y + '');
        //    var div = $('<div >').css({
        //        "position": "absolute",
        //        "left": relativeX + 'px',
        //        "top": relativeY + 'px'
        //    });
        //    //$('#AnaRsm').append(img);
        //    //PointerSize(TMOlcekx);
        //    div.append(img);
        //    $(document.body).append(div);
        //    RotateControl();
        //    SizeControl();
        //});
    });
    //function PointerSize(gelen) {

    //    var wth = $('#Pointerxx').val();
    //    var hgt = $('#Pointeryy').val();
    //    var byt = parseFloat(gelen) / 100;
    //    var sonucx = wth * byt;
    //    var sonucy = hgt * byt;
    //    $('#pointerResim').css('width', sonucx + 'px');
    //}
    //function OpacityControl() {
    //    var dgr = $('#TMSaydamlik').val();
    //    if (dgr != "") {
    //        var opt = dgr / 100;
    //        $('#pointerResim').css('opacity', opt);
    //    }

    //}

    //function RotateControl() {
    //    var dgr = $('#TMVektor').val();
    //    if (dgr != "") {
    //        $('#pointerResim').css('-webkit-transform', 'rotate(' + dgr + 'deg)');
    //    }
    //}

    //function SizeControl() {
    //    var dgr = $('#TMOlcek').val();
    //    if (dgr != "") {
    //        $('#pointerResim').css('width', dgr + '%');
    //    }
    //}


   @* function UygulamaKateGet() {

        var id = $('#SinavTipi_Ref').val();
        if (id == "@((int)Enumlar.SoruTipleri.UYGULAMA)" || id == "@((int)Enumlar.SoruTipleri.TIP)" || id == "@((int)Enumlar.SoruTipleri.TIP_EGITIM)") {
            $('#UygulamaKat').attr('style', 'visibility:visible');
            $('#maddeGenel').attr('style', 'visibility:visible');
            $('#dereceler').attr('style', 'visibility:visible');
            $('#Unitesi').attr('style', 'visibility:visible');
            //$('#altsiksorular').attr('style', 'visibility:visible');    
            var kontAltSik = $('#Cevaplar > tbody > tr').length;
            if (kontAltSik > 0) {
                $('#altSorular').attr('style', 'visibility:visible');
            }
            if (id == "@((int)Enumlar.SoruTipleri.TIP)" || id == "@((int)Enumlar.SoruTipleri.TIP_EGITIM)") {
                $('#altSorular').attr('style', 'visibility:hidden');
                $('#Unitesi').attr('style', 'visibility:hidden');
                $('#altsiksorular').attr('style', 'visibility:hidden');
            }
        }
        else {
            $("#SBagajlar_Ref option:selected").removeAttr("selected");
            $("#SBagajlar_Ref option[value='0']").prop('selected', true);
            $("#SBagajlar_Ref").change();

            $("#STM_Ref option:selected").removeAttr("selected");
            $("#STM_Ref option[value='0']").prop('selected', true);
            $("#STM_Ref").change();

            $('#UygulamaKat').attr('style', 'visibility:hidden');
            $('#UygResim').attr('style', 'visibility:hidden');
            $('#maddeGenel').attr('style', 'visibility:hidden');
            $('#dereceler').attr('style', 'visibility:hidden');
            if (id != "@((int)Enumlar.SoruTipleri.TIP)" || id != "@((int)Enumlar.SoruTipleri.TIP_EGITIM)") {
                $('#altSorular').attr('style', 'visibility:hidden');
                $('#Unitesi').attr('style', 'visibility:visible');
            }
            $('#pointerResim').remove();

        }
    }*@

    //function GetKordinat() {
    //    var controls = $('#Resyol').val();
    //    //var controls = $('#resimx').css('background-image').replace(/^url\(['"](.+)['"]\)/, '$1');
    //    if (controls != '/DocumentFiles/Personel/RYok.jpg') {
    //        $('#resimx').mousemove(function (e) {

    //            var offset = $(this).offset();
    //            var relativeX = (e.pageX - offset.left);
    //            var relativeY = (e.pageY - offset.top);

    //            var bilgix = ' x : ' + relativeX;
    //            var bilgiy = ' y : ' + relativeY;
    //            $('#koordinatx').text(bilgix);
    //            $('#koordinaty').text(bilgiy);
    //            $('#xkrd').val('' + relativeX + '');
    //            $('#ykrd').val('' + relativeY + '');
    //        });
    //        AltSikKontrol();
    //    }
    //}


    function EkleSoruSikki() {
        var gelenSoru = $('#Soru').val();
        var gelenData = $('#CevapIcerik').val();
        if (gelenSoru == "") {
            return;
        }
        if (gelenData == "") {
            return;
        }
        var durum = false;
        jQuery('#Cevaplar > tbody > tr').each(function (ix, trx) {
            var value = $(trx).find("td").eq(1).find("input").val();
            if (gelenData == value) {
                durum = true;
            }
        });
        if (durum) {
            $('#uyari2').click();
            return;
        }
        
        var soruTipi = $('#SinavTipi_Ref').val();
      @*  if (soruTipi == '@((int)Enumlar.SoruTipleri.TIP)' || soruTipi == '@((int)Enumlar.SoruTipleri.TIP_EGITIM)') {
            var soruAdetKontrol = jQuery('#Cevaplar > tbody > tr').length;
            if (soruAdetKontrol == 2) {
                $('#uyari4').click();
                return;
            }
        }*@

        var siklar = ['a)', 'b)', 'c)', 'd)', 'e)', 'f)', 'g)'];
        var sik = "";
        var count = $('#Cevaplar > tbody > tr').length + 1;
        switch (count) {
            case 1:
                sik = siklar[0];
                break;
            case 2:
                sik = siklar[1];
                break;
            case 3:
                sik = siklar[2];
                break;
            case 4:
                sik = siklar[3];
                break;
            case 5:
                sik = siklar[4];
                break;
            case 6:
                sik = siklar[5];
                break;
            case 7:
                sik = siklar[6];
                break;
            default:
                break;
        }

        var rowx = '<tr id="row' + count + '" style="width:100%"><td><label id="sira_' + count + '">' + sik + '</label><input type="hidden" name="SoruSikki" id="SoruSikki' + count + '" value="' + sik + '" /> </td>' +
                    '<td><input type="text" id="CevapIcerik' + count + '" name="CevapIcerik" class="form-control" value="' + gelenData + '" /></td>' +
                                            '<td><input type="radio" id="onayli' + count + '" name="UstSorular" onchange="CheckboxControl(' + count + ')" /></td>' +
                                            '<td><input type="hidden" id="Secenek' + count + '" name="DogruSecenek" value="false" /><a href="#TabloSatirSil" id="sil_' + count + '" onclick="SoruSikkiSil(' + count + ');" role="button" class="btn btn-warning" data-toggle="modal">(-) Sil</a></td>' +
                                            '</tr>';


        $('#Cevaplar tbody').append(rowx);
        $('#Soru').attr('readonly', 'readonly');
        $('#CevapIcerik').val('');
        $('#Cevaplar').attr('style', 'visibility:visible');
        $('#UstCevaplar').attr('style', 'visibility:visible');
        var soruTip = $('#SinavTipi_Ref').val();
       @* if (soruTip != "@((int)Enumlar.SoruTipleri.TIP)" || soruTip != "@((int)Enumlar.SoruTipleri.TIP_EGITIM)") {
            $('#altSorular').attr('style', 'visibility:visible');
        }*@

        //$('input[type="radio"][name="UstSorular"]').iCheck({
        //    radioClass: 'iradio_minimal-grey'
        //});
        var drm = 0;
        $('#Cevaplar tbody').find('tr').each(function (ix, trx) {
            drm += $(trx).find("td").eq(2).find("input").is(':checked') ? 1 : 0;;
        });
        if (drm == 0) {
            CheckboxControl('1');
        }
      @*  if (soruTip != "@((int)Enumlar.SoruTipleri.TIP)" || soruTip != "@((int)Enumlar.SoruTipleri.TIP_EGITIM)") {
            AltSikKontrol();
        }*@


    }

    //function EkleAltSoruSikki() {

    //    var gelenData = $('#AltCevapIcerik').val();
    //    if (gelenData == "") {
    //        return;
    //    }
    //    var durum = false;
    //    $('#AltCevaplar > tbody > tr').each(function (ix, trx) {
    //        var value = $(trx).find("td").eq(1).find("input").val();
    //        if (gelenData == value) {
    //            durum = true;
    //        }
    //    });
    //    if (durum) {
    //        $('#uyari2').click();
    //        return;
    //    }

    //    var siklar = ['a)', 'b)', 'c)', 'd)', 'e)', 'f)', 'g)'];
    //    var sik = "";
    //    var count = $('#AltCevaplar > tbody > tr').length + 1;
    //    switch (count) {
    //        case 1:
    //            sik = siklar[0];
    //            break;
    //        case 2:
    //            sik = siklar[1];
    //            break;
    //        case 3:
    //            sik = siklar[2];
    //            break;
    //        case 4:
    //            sik = siklar[3];
    //            break;
    //        case 5:
    //            sik = siklar[4];
    //            break;
    //        case 6:
    //            sik = siklar[5];
    //            break;
    //        case 7:
    //            sik = siklar[6];
    //            break;
    //        default:
    //            break;
    //    }


    //    var rowx = '<tr id="altrow' + count + '"><td><label id="altsira_' + count + '">' + sik + '</label><input type="hidden" name="AltSoruSikki" id="AltSoruSikki' + count + '" value="' + sik + '" /> </td><td><input type="text" id="AltCevapIcerik' + count + '" name="AltCevapIcerik" class="form-control" value="' + gelenData + '" />' +
    //                                        '</td><td><input id="AltDogruSecenek' + count + '" name="AltSorular" type="radio" onchange="AltCheckboxControl(' + count + ')" /></td><td><input type="hidden" id="AltSecenek' + count + '" name="AltDogruSecenek" value="false" /> <a href="#AltTabloSatirSil" id="altsil_' + count + '" onclick="AltSoruSikkiSil(' + count + ');" role="button" class="btn btn-warning" data-toggle="modal">(-) Sil</a>' +
    //                                        '</td></tr>';
    //    $('#AltCevaplar tbody').append(rowx);
    //    $('#AltCevapIcerik').val('');
    //    $('#AltCevaplar').attr('style', 'visibility:visible');
    //    //$('input[type="radio"][name="AltSorular"]').iCheck({
    //    //    radioClass: 'iradio_minimal-grey'
    //    //});
    //    var drm = 0;
    //    $('#AltCevaplar tbody').find('tr').each(function (ix, trx) {
    //        drm += $(trx).find("td").eq(2).find("input").is(':checked') ? 1 : 0;;
    //    });
    //    if (drm == 0) {
    //        AltCheckboxControl('1');
    //    }

    //}

    function SoruSikkiSil(idx) {
        $('#row' + idx).remove();
        var siklar = ['a)', 'b)', 'c)', 'd)', 'e)', 'f)', 'g)'];

        $('#Cevaplar > tbody > tr').each(function (ix, trx) {

            $(trx).find("td").eq(0).find("label").text(siklar[ix]);
            $(trx).find("td").eq(0).find("label").attr('id', 'sira_' + (ix + 1) + '');
            $(trx).find("td").eq(0).find("input").attr('id', 'SoruSikki' + (ix + 1) + '');
            $(trx).find("td").eq(0).find("input").attr('value', siklar[ix]);
            $(trx).find("td").eq(1).find("input").attr('id', 'CevapIcerik' + (ix + 1) + '');
            $(trx).find("td").eq(2).find("input").attr('id', 'onayli' + (ix + 1) + '');
            $(trx).find("td").eq(3).find("a").attr('id', 'sil_' + (ix + 1) + '');
            $(trx).find("td").eq(3).find("a").attr('onclick', 'SoruSikkiSil(' + (ix + 1) + ')');
            $(trx).find("td").eq(2).find("input").attr('onclick', 'CheckboxControl(' + (ix + 1) + ')');
            $(trx).attr('id', 'row' + (ix + 1) + '');
        });

        var count = jQuery('#Cevaplar > tbody > tr').length;
        if (count == 0) {
            $('#Soru').removeAttr('readonly');
            $('#Cevaplar').attr('style', 'visibility:hidden');
        }

        var drm = 0;
        $('#Cevaplar tbody').find('tr').each(function (ix, trx) {
            drm += $(trx).find("td").eq(2).find("input").is(':checked') ? 1 : 0;;
        });
        if (drm == 0) {
            CheckboxControl('1');
        }
        var soruTip = $('#SinavTipi_Ref').val();
      @*  if (soruTip != '@((int)Enumlar.SoruTipleri.TIP)' || soruTip != '@((int)Enumlar.SoruTipleri.TIP_EGITIM)') {
            AltSikKontrol();
        }*@
    }

    //function AltSoruSikkiSil(idx) {
    //    $('#altrow' + idx).remove();
    //    var siklar = ['a)', 'b)', 'c)', 'd)', 'e)', 'f)', 'g)'];

    //    $('#AltCevaplar > tbody > tr').each(function (ix, trx) {

    //        $(trx).find("td").eq(0).find("label").text(siklar[ix]);
    //        $(trx).find("td").eq(0).find("label").attr('id', 'altsira_' + (ix + 1) + '');
    //        $(trx).find("td").eq(0).find("input").attr('id', 'AltSoruSikki' + (ix + 1) + '');
    //        $(trx).find("td").eq(0).find("input").attr('value', siklar[ix]);
    //        $(trx).find("td").eq(1).find("input").attr('id', 'AltCevapIcerik' + (ix + 1) + '');
    //        $(trx).find("td").eq(2).find("input").attr('id', 'AltDogruSecenek' + (ix + 1) + '');
    //        $(trx).find("td").eq(3).find("a").attr('id', 'altsil_' + (ix + 1) + '');
    //        $(trx).find("td").eq(3).find("a").attr('onclick', 'AltSoruSikkiSil(' + (ix + 1) + ')');
    //        $(trx).find("td").eq(2).find("input").attr('onclick', 'AltCheckboxControl(' + (ix + 1) + ')');
    //        $(trx).attr('id', 'altrow' + (ix + 1) + '');
    //    });

    //    var drm = 0;
    //    $('#AltCevaplar tbody').find('tr').each(function (ix, trx) {
    //        drm += $(trx).find("td").eq(2).find("input").is(':checked') ? 1 : 0;;
    //    });
    //    if (drm == 0) {
    //        AltCheckboxControl('1');
    //    }
    //    var sonkayit = $('#AltCevaplar > tbody > tr').length;
    //    if (sonkayit == 0) {
    //        $('#AltCevaplar').attr('style', 'visibility:hidden');
    //    }
    //}

    //function AltSikliSoru() {

    //    var control = $('#AltSik').is(':checked')
    //    if (control) {
    //        $('#altsiksorular').attr('style', 'visibility:visible');

    //        $('#AltCevaplar').attr('style', 'visibility:hidden');
    //    }
    //    else {
    //        $('#altsiksorular').attr('style', 'visibility:hidden');
    //        jQuery('#AltCevaplar > tbody > tr').remove();
    //        $('#AltCevaplar').attr('style', 'visibility:visible');
    //    }
    //}

    //function AltCheckboxControl(id) {
    //    var selectCheck = $('#AltDogruSecenek' + id).is(':checked') ? "checked" : "";
    //    $('#AltCevaplar tbody').find('tr').each(function (ix, trx) {
    //        $(trx).find("td").eq(2).find("input").prop('checked', false);
    //        $(trx).find("td").eq(3).find("input").attr('value', false);
    //    });
    //    $('#AltDogruSecenek' + id).prop('checked', true);
    //    //$('input[type="radio"][name="AltSorular"]').iCheck('check');
    //    //$('#AltDogruSecenek' + id).iCheck('update');
    //    $('#AltSecenek' + id).attr('value', true);
    //}



    function CheckboxControl(id) {
        //var selectCheck = $('#onayli' + id).is(':checked') ? "checked" : "";
        $('#Cevaplar tbody').find('tr').each(function (ix, trx) {
            $(trx).find("td").eq(2).find("input").prop('checked', false);
            $(trx).find("td").eq(3).find("input").attr('value', false);
        });
        $('#onayli' + id).prop('checked', true);
        //$('input[type="radio"][name="UstSorular"]').iCheck('check');
        //$('#onayli' + id).iCheck('update');
        $('#Secenek' + id).attr('value', true);
    }

    //function AltSikKontrol() {
    //    var kontrol = $('#Cevaplar > tbody > tr').length;
    //    if (kontrol != 0) {
    //        $('#altSorular').attr('style', 'visibility:visible');
    //    }
    //    else {
    //        var kontrol = $('#AltCevaplar > tbody > tr').length;
    //        for (var i = 1; i <= kontrol; i++) {
    //            $('#altrow' + i).remove();
    //        }
    //        $('#altsiksorular').attr('style', 'visibility:hidden');
    //        $('#altSorular').attr('style', 'visibility:hidden');
    //    }

    //}

    function SoruKaydet() {
        //SinavTipi_Ref, Unite_Ref, Soru, List<string> SoruSikki, List<string> CevapIcerik, List<bool> DogruSecenek,
        //                             SBagajlar_Ref, STM_Ref, int? XKordinat, int? YKordinat, List<string> AltSoruSikki, List<string> AltCevapIcerik,
        //                             List<bool> AltDogruSecenek, decimal? TMOlcek, decimal TMVektor, decimal TMSaydamlik

        var SinavTipi_Ref = $('#SinavTipi_Ref').val();
        var Unite_Ref = $('#Unite_Ref').val();
        var Soru = $('#Soru').val();

        //var STM_Ref = $('#STM_Ref').val();       


        //if (SinavTipi_Ref == "1") {
        //    var SBagajlar_Ref = $('#SBagajlar_Ref').val();
        //    var XKordinat = $('#XKordinat').val();
        //    var YKordinat = $('#YKordinat').val();
        //    var TMOlcek = $('#TMOlcek').val();
        //    var TMVektor = $('#TMVektor').val();
        //    var TMSaydamlik = $('#TMSaydamlik').val();
        //}       
        //else {

        //}


        if (SinavTipi_Ref == "0" || Soru == "") {
            $('#uyari').click();
            return;
        }

       @* if (Unite_Ref == null && (SinavTipi_Ref != '@((int)Enumlar.SoruTipleri.TIP)' || SinavTipi_Ref != '@((int)Enumlar.SoruTipleri.TIP_EGITIM)')) {
            $('#uyari').click();
            return;
        }*@

        var Cevaplar = $('#Cevaplar tbody tr').length;
        if (Cevaplar == 0) {
            $('#uyari').click();
            return;
        }
        if (Cevaplar < 2) {
            $('#uyari3').click();
            return;
        }

        $('form').submit();
        //var AltCevaplar = $('#AltCevaplar tbody tr').length;

    }


</script>
